<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las clases de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Todo sobre las clases de D&D y sus pecualiaridades</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Clases</h1>
	</div>
	<!--PORTADAS CLASES-->
    <div class="portadas-contenedor">
		<a href="barbaro.html"><img src="../img/clases-portada-barbaro.jpg" alt="Portada Barbaro" class="portadas-seccion"></a>
		<a href="bardo.html"><img src="../img/clases-portada-bardo.jpg" alt="Portada Bardo" class="portadas-seccion"></a>
		<a href="brujo.html"><img src="../img/clases-portada-brujo.jpg" alt="Portada Brujo" class="portadas-seccion"></a>
		<a href="clerigo.html"><img src="../img/clases-portada-clerigo.jpg" alt="Porda Clerigo" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="druida.html"><img src="../img/clases-portada-druida.jpg" alt="Portada Druida" class="portadas-seccion"></a>
		<a href="explorador.html"><img src="../img/clases-portada-explorador.jpg" alt="Portada Explorador" class="portadas-seccion"></a>
		<a href="guerrero.html"><img src="../img/clases-portada-guerrero.jpg" alt="Portada Guerero" class="portadas-seccion"></a>
		<a href="hechicero.html"><img src="../img/clases-portada-hechicero.jpg" alt="Portada Hechicero" class="portadas-seccion"></a>
	</div>
    <div class="portadas-contenedor">
		<a href="mago.html"><img src="../img/clases-portada-mago.jpg" alt="Portada Mago" class="portadas-seccion"></a>
		<a href="monje.html"><img src="../img/clases-portada-monje.jpg" alt="Portada Monje" class="portadas-seccion"></a>
		<a href="paladin.html"><img src="../img/clases-portada-paladin.jpg" alt="Portada Paladin" class="portadas-seccion"></a>
		<a href="picaro.html"><img src="../img/clases-portada-picaro.jpg" alt="Portada Picaro" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO CLASES-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/clases-individual-barbaro.png" alt="Foto Individual Barbaro">
			<div class="nombre">Bárbaro</div>
		</div>
		<div class="navegacion">
		<nav class="nav nav-pills" id="pills-tab" role="tablist">
			<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos de clase</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Tabla por nivel</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Características</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Conjuros</a>
		  </nav>
		  <div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<p><span>PUNTOS DE GOLPE</span></p>
				<p>Dados de golpe: 1d12 por nivel de bárbaro.</p>
				<p>Puntos de golpe a nivel 1: 12 + tu modificador por Constitución.</p>
				<p>Puntos de golpe a niveles superiores: 1d12 (o 7) + tu modificador por Constitución por cada nivel de bárbaro después del primero.</p>
				<p><span>COMPETENCIAS</span></p>
				<p>Armadura: Armadura ligera, armadura media, escudos</p>
				<p>Armas: Armas sencillas, armas marciales</p>
				<p>Herramientas: Ninguna</p>
				<p>Tiradas de salvación: Fuerza, Constitución</p>
				<p>Habilidades: Elige dos entre Atletismo, Intimidar, Naturaleza, Percepción, Supervivencia y Trato con animales</p>
				<p><span>EQUIPO</span></p>
				<p>Una gran hacha o (b) cualquier arma marcial de combate cuerpo a cuerpo</p>
				<p>Dos hachas de mano o (b) cualquier arma sencilla</p>
				<p>Un pack de explorador y cuatro jabalinas</p>
			</div>
			<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
				<table class="tftable" border="1">
					<tr><th>Nivel</th><th>Bonif. de Competencia</th><th>Rasgos</th><th>Furias</th><th>Daños de Furias</th></tr>
					   <tr><td>1</td><td>	+2	</td><td>	Furia, Defensa sin Armadura	</td><td>	2	</td><td>	+2	</td></tr>
					   <tr><td>2</td><td>	+2	</td><td>	Ataque Temerario, Sentir el Peligro	</td><td>	2	</td><td>	+2	</td></tr>
					   <tr><td>3</td><td>	+2	</td><td>	Senda Primordial	</td><td>	3	</td><td>	+2	</td></tr>
					   <tr><td>4</td><td>	+2	</td><td>	Incremento de Característica	</td><td>	3	</td><td>	+2	</td></tr>
					   <tr><td>5</td><td>	+3	</td><td>	Ataque Adicional, Movimiento Rápido	</td><td>	3	</td><td>	+2	</td></tr>
					   <tr><td>6</td><td>	+3	</td><td>	Rasgo de Senda	</td><td>	4	</td><td>	+2	</td></tr>
					   <tr><td>7</td><td>	+3	</td><td>	Instinto Salvaje	</td><td>	4	</td><td>	+2	</td></tr>
					   <tr><td>8</td><td>	+3	</td><td>	Incremento de Característica	</td><td>	4	</td><td>	+2	</td></tr>
					   <tr><td>9</td><td>	+4	</td><td>	Crítico Brutal (1 dado)	</td><td>	4	</td><td>	+3	</td></tr>
					   <tr><td>10</td><td>	+4	</td><td>	Rasgo de Senda	</td><td>	4	</td><td>	+3	</td></tr>
					   <tr><td>11</td><td>	+4	</td><td>	Furia Implacable	</td><td>	4	</td><td>	+3	</td></tr>
					   <tr><td>12</td><td>	+4	</td><td>	Incremento de Característica	</td><td>	5	</td><td>	+3	</td></tr>
					   <tr><td>13</td><td>	+5	</td><td>	Crítico Brutal (2 dados)	</td><td>	5	</td><td>	+3	</td></tr>
					   <tr><td>14</td><td>	+5	</td><td>	Rasgo de Senda	</td><td>	5	</td><td>	+3	</td></tr>
					   <tr><td>15</td><td>	+5	</td><td>	Furia Persistente	</td><td>	5	</td><td>	+3	</td></tr>
					   <tr><td>16</td><td>	+5	</td><td>	Incremento de Característica	</td><td>	5	</td><td>	+4	</td></tr>
					   <tr><td>17</td><td>	+6	</td><td>	Crítico brutal (3 dados)	</td><td>	6	</td><td>	+4	</td></tr>
					   <tr><td>18</td><td>	+6	</td><td>	Poderío Indómito	</td><td>	6	</td><td>	+4	</td></tr>
					   <tr><td>19</td><td>	+6	</td><td>	Incremento de Característica	</td><td>	6	</td><td>	+4	</td></tr>
					   <tr><td>20</td><td>	+6	</td><td>	Campeón Primordial	</td><td>	Ilimitadas	</td><td>	+4	</td></tr>
				</table>
			</div>
			<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
				<p><span>	FURIA	</span></p>
				<p>	Luchas con una ferocidad primitiva en la batalla. Durante tu turno, puedes dejarte llevar por la furia como acción adicional. Mientras estás en furia, consigues los siguientes beneficios si no llevas armadura:	</p>
				<p>	Tienes ventaja en las pruebas de Fuerza y en las tiradas de salvación de Fuerza.	</p>
				<p>	Cuando realizas un ataque con armas cuerpo a cuerpo usando Fuerza, recibes un bonificador a la tirada de daño que aumenta según vas subiendo niveles de bárbaro, como se muestra en la columna «Daño de furia» de la tabla del bárbaro.	</p>
				<p>	Tienes resistencia al daño contundente, perforante y cortante.	</p>
				<p>	Si sabes lanzar conjuros, no puedes lanzarlos ni concentrarte en ellos mientras estás en furia.	</p>
				<p>	Tu furia dura un minuto. Acaba antes si te quedas inconsciente o, si antes de que acabe tu turno, no has atacado a una criatura hostil o no has recibido daño desde tu último turno. También puedes terminar tu furia durante tu turno como acción adicional. Una vez que has entrado en furia el número de veces indicado para tu nivel de bárbaro en la columna «Furias» de la tabla del bárbaro, debes terminar un descanso prolongado para poder volver a entrar en furia.	</p>
				<p><span>	DEFENSA SIN ARMADURA	</span></p>
				<p>	Mientras no llevas la armadura, tu CA es igual a 10 + tu modificador por Destreza + tu modificador por Constitución. Sigues pudiendo utilizar escudo y recibir sus beneficios.	</p>
				<p><span>	ATAQUE TEMERARIO	</span></p>
				<p>	A partir del nivel 2, puedes dejar a un lado toda preocupación por defenderte para atacar con una desesperación feroz. Cuando ataques por primera vez en tu turno, puedes hacer un ataque temerario, que, durante ese turno, te da ventaja en las tiradas de ataque con armas cuerpo a cuerpo utilizando Fuerza, pero, a cambio, las tiradas de ataque que se hagan contra ti tienen ventaja.	</p>
				<p><span>	SENTIR EL PELIGRO	</span></p>
				<p>	En el nivel 2 consigues un sorprendente sentido para detectar que las cosas que ves no son como deberían ser, lo que te da una ventaja para esquivar el peligro.</p>
				<p>	Tienes ventaja en las tiradas de salvación de Destreza contra efectos que puedes ver, como trampas y conjuros. Para conseguir este beneficio, no puedes estar cegado, ensordecido ni incapacitado.	</p>
				<p><span>	SENDA PRIMORDIAL	</span></p>
				<p>	En el nivel 3 inicias una senda de tu elección. Tu elección te concede rasgos en los niveles 3, 6, 10 y 14.	</p>
				<p><span>	MEJORA DE CARACTERÍSTICA	</span></p>
				<p>	Cuando alcanzas el nivel 4, y de nuevo en los niveles 8, 12, 16 y 19, puedes aumentar una característica de tu elección en 2 o dos características en 1. Como siempre, no puedes aumentar la puntuación de una característica por encima de 20 usando este rasgo.	</p>
				<p><span>	ATAQUE ADICIONAL	</span></p>
				<p>	A partir del nivel 5, puedes atacar dos veces en lugar de una cuando realices la acción de ataque en tu turno.	</p>
				<p><span>	MOVIMIENTO RÁPIDO	</span></p>
				<p>	Al partir del nivel 5, tu velocidad aumenta en 10 pies mientras no lleves armadura.	</p>
				<p><span>	INSTINTO SALVAJE	</span></p>
				<p>	En el nivel 7 tus instintos están tan pulidos que tienes ventaja en las tiradas de iniciativa.	</p>
				<p>	Además, si estás sorprendido al principio del combate pero no incapacitado, puedes actuar con normalidad en tu primer turno si entras en furia antes de hacer cualquier otra cosa.	</p>
				<p><span>	CRÍTICO BRUTAL	</span></p>
				<p>	A partir del nivel 9, puedes tirar un dado adicional de daño del arma cuando determines el daño adicional de un golpe crítico con un ataque cuerpo a cuerpo.	</p>
				<p>	Aumenta a dos dados adicionales en el nivel 13 y a tres en el nivel 17.	</p>
				<p><span>	FURIA IMPLACABLE	</span></p>
				<p>	A partir del nivel 11, tu furia puede hacer que sigas luchando a pesar de que tengas heridas graves. Si tus puntos de golpe se reducen a 0 mientas estás en furia y no mueres inmediatamente, puedes hacer una tirada de salvación de Constitución CD 10. Si tienes éxito, te quedas con 1 punto de golpe.	</p>
				<p>	Cada vez que uses este rasgo después de la primera, la CD aumenta en 5. Cuando acabes un descanso breve o prolongado, la CD vuelve a ser 10.	</p>
				<p><span>	FURIA PERSISTENTE	</span></p>
				<p>	A partir del nivel 15, tu furia es tan fiera que solo acaba antes de un minuto si caes inconsciente o si tú lo decides.	</p>
				<p><span>	PODER INDOMITO	</span></p>
				<p>	A partir del nivel 18, si el resultado total de una prueba de Fuerza es menor que tu puntuación de Fuerza, puedes usar esa puntuación en su lugar.	</p>
				<p><span>	CAMPEÓN PRIMORDIAL	</span></p>
				<p>	En el nivel 20, eres la personificación del poder de lo salvaje. Tus puntuaciones de Fuerza y de Constitución aumentan en 4. El máximo de estas puntuaciones es ahora 24.	</p>
			</div>
			<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
					<p> Los bárbaros no poseen conjuros ya que no es una clase lanzadora de conjuros.</p>
			</div>
		  </div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" target="_blank" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" target="_blank" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" target="_blank" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>