<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las clases de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Todo sobre las clases de D&D y sus pecualiaridades</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Clases</h1>
	</div>
	<!--PORTADAS CLASES-->
    <div class="portadas-contenedor">
		<a href="barbaro.html"><img src="../img/clases-portada-barbaro.jpg" alt="Portada Barbaro" class="portadas-seccion"></a>
		<a href="bardo.html"><img src="../img/clases-portada-bardo.jpg" alt="Portada Bardo" class="portadas-seccion"></a>
		<a href="brujo.html"><img src="../img/clases-portada-brujo.jpg" alt="Portada Brujo" class="portadas-seccion"></a>
		<a href="clerigo.html"><img src="../img/clases-portada-clerigo.jpg" alt="Porda Clerigo" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="druida.html"><img src="../img/clases-portada-druida.jpg" alt="Portada Druida" class="portadas-seccion"></a>
		<a href="explorador.html"><img src="../img/clases-portada-explorador.jpg" alt="Portada Explorador" class="portadas-seccion"></a>
		<a href="guerrero.html"><img src="../img/clases-portada-guerrero.jpg" alt="Portada Guerero" class="portadas-seccion"></a>
		<a href="hechicero.html"><img src="../img/clases-portada-hechicero.jpg" alt="Portada Hechicero" class="portadas-seccion"></a>
	</div>
    <div class="portadas-contenedor">
		<a href="mago.html"><img src="../img/clases-portada-mago.jpg" alt="Portada Mago" class="portadas-seccion"></a>
		<a href="monje.html"><img src="../img/clases-portada-monje.jpg" alt="Portada Monje" class="portadas-seccion"></a>
		<a href="paladin.html"><img src="../img/clases-portada-paladin.jpg" alt="Portada Paladin" class="portadas-seccion"></a>
		<a href="picaro.html"><img src="../img/clases-portada-picaro.jpg" alt="Portada Picaro" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO CLASES-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/clases-individual-brujo.png" alt="Foto Individual Brujo">
			<div class="nombre">Brujo</div>
		</div>
		<div class="navegacion">
		<nav class="nav nav-pills" id="pills-tab" role="tablist">
			<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos de clase</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Tabla por nivel</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Características</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Conjuros</a>
		  </nav>
		  <div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<p><span>PUNTOS DE GOLPE</span></p>
				<p>	Dados de golpe: 1d8 por nivel de brujo	</p>
                <p>	Puntos de golpe a nivel 1: 8 + tu modificador por Constitución	</p>
                <p>	Puntos de golpe a niveles superiores: 1d8 (o 5) + tu modificador por Constitución por nivel de brujo después del nivel 1	</p>

				<p><span>COMPETENCIAS</span></p>
				<p>	Armadura: Armadura ligera	</p>
                <p>	Armas: Armas sencillas	</p>
                <p>	Herramientas: Ninguna	</p>
                <p>	Tiradas de salvación: Sabiduría, Carisma	</p>
                <p>	Habilidades: Elige dos entre Arcanos, Engañar, Historia, Intimidar, Investigación, Naturaleza y Religión	</p>

				<p><span>EQUIPO</span></p>
                <p>	Empiezas con el siguiente equipo, además del equipo que te concede tu trasfondo:	</p>
                <p>	Una ballesta ligera y 20 virotes o (b) cualquier arma sencilla.	</p>
                <p>	Una bolsa de componentes o (b) un foco arcano.	</p>
                <p>	Un pack de erudito o (b) un pack de aventurero.	</p>
                <p>	Armadura de cuero, cualquier arma sencilla y dos dagas.	</p>
                
        	</div>
			<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
				<table class="tftable" border="1">
					<tr><th>Nivel</th><th>Bonif. de Competencia</th><th>Rasgos</th><th>Trucos</th><th>Conjuros</th><th>Espacios/Niveles/Invocaciones</th></tr>
                       <tr><td>1</td><td>	+2	</td><td>	Patrón Sobrenatural, Magia del Pacto	</td><td>	2	</td><td>	2	</td><td>	1/1/–	</td></tr>
                       <tr><td>2</td><td>	+2	</td><td>	Invocaciones Sobrenaturales	</td><td>	2	</td><td>	3	</td><td>	2/1/2	</td></tr>
                       <tr><td>3</td><td>	+2	</td><td>	Beneficio del Pacto	</td><td>	2	</td><td>	4	</td><td>	2/2/2	</td></tr>
                       <tr><td>4</td><td>	+2	</td><td>	Mejora de Característica	</td><td>	3	</td><td>	5	</td><td>	2/2/2	</td></tr>
                       <tr><td>5</td><td>	+3	</td><td>	–	</td><td>	3	</td><td>	6	</td><td>	2/3/3	</td></tr>
                       <tr><td>6</td><td>	+3	</td><td>	Rasgo de Patrón Sobrenatural	</td><td>	3	</td><td>	7	</td><td>	2/3/3	</td></tr>
                       <tr><td>7</td><td>	+3	</td><td>	–	</td><td>	3	</td><td>	8	</td><td>	2/4/4	</td></tr>
                       <tr><td>8</td><td>	+3	</td><td>	Mejora de Característica	</td><td>	3	</td><td>	9	</td><td>	2/4/4	</td></tr>
                       <tr><td>9</td><td>	+4	</td><td>	–	</td><td>	3	</td><td>	10	</td><td>	2/5/5	</td></tr>
                       <tr><td>10</td><td>	+4	</td><td>	Rasgo de Patrón Sobrenatural	</td><td>	4	</td><td>	10	</td><td>	2/5/5	</td></tr>
                       <tr><td>11</td><td>	+4	</td><td>	Arcanum Místico (nivel 6)	</td><td>	4	</td><td>	11	</td><td>	3/5/5	</td></tr>
                       <tr><td>12</td><td>	+4	</td><td>	Mejora de Característica	</td><td>	4	</td><td>	11	</td><td>	3/5/6	</td></tr>
                       <tr><td>13</td><td>	+5	</td><td>	Arcanum Místico (nivel 7)	</td><td>	4	</td><td>	12	</td><td>	3/5/6	</td></tr>
                       <tr><td>14</td><td>	+5	</td><td>	Rasgo de Patrón Sobrenatural	</td><td>	4	</td><td>	12	</td><td>	3/5/6	</td></tr>
                       <tr><td>15</td><td>	+5	</td><td>	Arcanum Místico (nivel 8)	</td><td>	4	</td><td>	13	</td><td>	3/5/7	</td></tr>
                       <tr><td>16</td><td>	+5	</td><td>	Mejora de característica	</td><td>	4	</td><td>	13	</td><td>	3/5/7	</td></tr>
                       <tr><td>17</td><td>	+6	</td><td>	Arcanum Místico (nivel 9)	</td><td>	4	</td><td>	14	</td><td>	4/5/7	</td></tr>
                       <tr><td>18</td><td>	+6	</td><td>	–	</td><td>	4	</td><td>	14	</td><td>	4/5/8	</td></tr>
                       <tr><td>19</td><td>	+6	</td><td>	Mejora de Característica	</td><td>	4	</td><td>	15	</td><td>	4/5/8	</td></tr>
                       <tr><td>20</td><td>	+6	</td><td>	Maestro Sobrenatural	</td><td>	4	</td><td>	15	</td><td>	4/5/8	</td></tr>
                    
                </table>
			</div>
			<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
                <p><span>	PATRÓN SOBRENATURAL	</span></p>
                <p>	A partir del nivel 1, debes elegir con qué tipo de criatura has hecho un pacto, por ejemplo con un ser infernal (que se detalla al final de la descripción de esta clase). Tu elección te concede rasgos en el nivel 1 y de nuevo en los niveles 6, 10 y 14.	</p>

                <p><span>	TRUCOS	</span></p>
                <p>	Conoces dos trucos de tu elección de la lista de conjuros de brujo. Aprendes trucos de brujo adicionales de tu elección en niveles superiores, como se indica en la columna «Trucos» de la tabla del brujo.	</p>

				<p><span>	ESPACIOS DE CONJURO	</span></p>
                <p>	La tabla del brujo muestra cuántos espacios de conjuro tienes y de qué nivel son (todos del mismo). Para lanzar un conjuro de brujo de nivel 1 o superior, debes gastar un espacio de conjuro. Recuperas todos los espacios de conjuro que hayas gastado cuando termines un descanso prolongado o breve. Por ejemplo, al nivel 5 tienes dos espacios de conjuro de nivel 3. Para lanzar el conjuro de nivel 1 Onda atronadora debes gastar uno de esos espacios y lanzarlo como un conjuro de nivel 3.	</p>

				<p><span>	CONJUROS CONOCIDOS EN NIVEL 1 Y SUPERIOR	</span></p>
                <p>	En el nivel 1, conoces al menos dos conjuros de nivel 1 de tu elección de la lista de conjuros de brujo.	</p>
                <p>	La columna «Conjuros» de la tabla del brujo muestra cuándo aprendes nuevos conjuros. Los conjuros no pueden ser de un nivel superior al que se muestra en la columna «Nivel de los espacios» para tu nivel. Cuando llegues al nivel 6, por ejemplo, puedes aprender nuevos conjuros de brujo, que pueden ser de nivel 1, 2 o 3.	</p>
                <p>	Además, cuando subes de nivel en esta clase, puedes remplazar uno de los conjuros de brujo que conoces por otro conjuro de brujo de un nivel para el que tengas espacios de conjuro.	</p>
                
				<p><span>	CARACTERÍSTICA PARA LANZAR CONJUROS	</span></p>
                <p>	La característica con la que lanzas tus conjuros de brujo es Carisma. Usas Carisma cuando un conjuro se refiere a tu característica para lanzar conjuros. Además, usas tu modificador por Carisma para establecer la CD de la tirada de salvación para los conjuros de brujo que lances y cuando hagas una tirada de ataque con uno.	</p>
                <p>	CD de la salvación de conjuros = 8 + tu bonificador por competencia + tu modificador por Carisma	</p>
                <p>	Modificador al ataque con conjuros = tu bonificador por competencia + tu modificador por Carisma	</p>                

				<p><span>	INVOCACIONES SOBRENATURALES	</span></p>
                <p>	Mientras estudiabas el saber oculto, has descubierto invocaciones sobrenaturales, fragmentos de conocimiento prohibido que te imbuyen con una capacidad mágica duradera.	</p>
                <p>	En el nivel 2, consigues dos invocaciones sobrenaturales de tu elección (se detallan al final de la página). Cuando llegues a ciertos niveles de brujo, consigues invocaciones adicionales de tu elección, como se muestra en la columna «Invocaciones» de la tabla del brujo.	</p>
                <p>	Además, cuando subas de nivel en esta clase, puedes remplazar una de las invocaciones que conoces por otra invocación que podrías aprender en ese nivel.	</p>

				<p><span>	MEJORA DE CARACTERÍSTICA	</span></p>
                <p>	Cuando alcanzas el nivel 4, y de nuevo en los niveles 8, 12, 16 y 19, puedes aumentar una puntuación de característica de tu elección en 2 o dos puntuaciones de característica en 1. Como siempre, no puedes aumentar una puntuación de característica por encima de 20 usando este rasgo.	</p>

				<p><span>	ARCANUM MÍSTICO	</span></p>
                <p>	En el nivel 11, tu patrón te otorga un secreto mágico llamado «arcano». Elige un conjuro de nivel 6 de la lista de conjuros de brujo como este arcano. Puedes lanzarlo una vez sin gastar un espacio de conjuro. Debes terminar un descanso prolongado para poder utilizarlo de nuevo.	</p>
                <p>	En niveles superiores, consigues más conjuros de brujo de tu elección que se pueden lanzar de este modo: un conjuro de nivel 7 en el nivel 13, un conjuro de nivel 8 en el nivel 15 y un conjuro de nivel 9 en el nivel 17. Recuperas todos los usos de tu arcano místico cuando completes un descanso prolongado.	</p>

				<p><span>	MAESTRO SOBRENATURAL	</span></p>
                <p>	En el nivel 20, puedes usar tu reserva interna de poder místico cuando le implores a tu patrón para recuperar los espacios de conjuro gastados. Puedes dedicar 1 minuto a implorar ayuda a tu patrón para recuperar todos los espacios de conjuro que hayas gastado de tu rasgo Magia del pacto. Una vez recuperas los espacios de conjuro gastados con ese rasgo, debes terminar un descanso prolongado antes de poder hacerlo de nuevo.	</p>

			</div>
			<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
                <p><span>	Nivel 0	</span></p>
                <p>	Descarga sobrenatural 	</p>
                <p>	Ilusión menor 	</p>
                <p>	Impacto certero 	</p>
                <p>	Mano de mago 	</p>
                <p>	Prestidigitación 	</p>
                <p>	Rociada venenosa 	</p>
                <p>	Toque helado 	</p>
                <p><span>	Nivel 1	</span></p>
                <p>	Entender idiomas 	</p>
                <p>	Hechizar persona 	</p>
                <p>	Protección contra el bien y el mal 	</p>
                <p>	Reprensión infernal 	</p>
                <p>	Retirada expeditiva 	</p>
                <p>	Sirviente invisible 	</p>
                <p>	Texto ilusorio 	</p>
                <p><span>	Nivel 2	</span></p>
                <p>	Embelesar 	</p>
                <p>	Hacer añicos 	</p>
                <p>	Imagen múltiple 	</p>
                <p>	Inmovilizar persona 	</p>
                <p>	Invisibilidad 	</p>
                <p>	Oscuridad 	</p>
                <p>	Paso brumoso 	</p>
                <p>	Rayo debilitador 	</p>
                <p>	Sugestión 	</p>
                <p>	Trepar cual arácnido 	</p>
                <p><span>	Nivel 3	</span></p>
                <p>	Círculo mágico 	</p>
                <p>	Contrahechizo 	</p>
                <p>	Disipar magia 	</p>
                <p>	Don de lenguas 	</p>
                <p>	Forma gaseosa 	</p>
                <p>	Imagen mayor 	</p>
                <p>	Levantar maldición 	</p>
                <p>	Patrón hipnótico 	</p>
                <p>	Terror 	</p>
                <p>	Toque vampírico 	</p>
                <p>	Volar 	</p>
                <p><span>	Nivel 4	</span></p>
                <p>	Destierro 	</p>
                <p>	Marchitar 	</p>
                <p>	Puerta dimensional 	</p>
                <p>	Terreno alucinatorio 	</p>
                <p><span>	Nivel 5	</span></p>
                <p>	Contactar con otro plano 	</p>
                <p>	Ensueño 	</p>
                <p>	Escudriñar 	</p>
                <p>	Inmovilizar monstruo 	</p>
                <p><span>	Nivel 6	</span></p>
                <p>	Círculo de muerte 	</p>
                <p>	Conjurar feérico 	</p>
                <p>	Crear muerto viviente 	</p>
                <p>	De la carne a la piedra 	</p>
                <p>	Mal de ojo 	</p>
                <p>	Sugestión en masa 	</p>
                <p>	Visión veraz 	</p>
                <p><span>	Nivel 7	</span></p>
                <p>	Dedo de la muerte 	</p>
                <p>	Desplazamiento entre planos 	</p>
                <p>	Excursión etérea 	</p>
                <p>	Jaula de fuerza 	</p>
                <p><span>	Nivel 8	</span></p>
                <p>	Dominar monstruo 	</p>
                <p>	Labia 	</p>
                <p>	Palabra de poder: aturdir 	</p>
                <p>	Romper la mente 	</p>
                <p>	Semiplano 	</p>
                <p><span>	Nivel 9	</span></p>
                <p>	Cautiverio 	</p>
                <p>	Palabra de poder: matar 	</p>
                <p>	Polimorfar verdadero 	</p>
                <p>	Presagio 	</p>
                <p>	Proyección astral 	</p>
                
           
			</div>
		  </div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>