<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Conocé los canales más importantes de D&D donde podés ver partidas en vivo y aprender.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Mirá cómo rollean los mejores</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Streams</h1>
	</div>
	<!--PORTADAS STREAMS-->
    <div class="portadas-contenedor">
		<a href="criticalrole.html"><img src="../img/criticalrole.jpg" alt="Portada Critical Role" class="portadas-seccion"></a>
		<a href="podcasts2.html"><img src="../img/highrollers.jpg" alt="Portada High Rollers" class="portadas-seccion"></a>
		<a href="podcasts3.html"><img src="../img/realmsmith.jpg" alt="Portada Realm Smith" class="portadas-seccion"></a>
		<a href="podcasts4.html"><img src="../img/chainofacheron.jpg" alt="Portada Chain Of Acheron" class="portadas-seccion"></a>
        <a href="podcasts5.html"><img src="../img/rollplay.jpg" alt="Portada Roll Play" class="portadas-seccion"></a>
	</div>
    <div class="portadas-contenedor">
		<a href="podcasts6.html"><img src="../img/dicecamera.jpg" alt="Portada Dice Camera" class="portadas-seccion"></a>
		<a href="podcasts7.html"><img src="../img/encounterrolpay.jpg" alt="Portada Encounter Rolepay" class="portadas-seccion"></a>
		<a href="podcasts8.html"><img src="../img/forcegrey.jpg" alt="Portada Force Grey" class="portadas-seccion"></a>
		<a href="podcasts9.html"><img src="../img/thecteam.jpg" alt="Portada The C Team" class="portadas-seccion"></a>
        <a href="podcasts10.html"><img src="../img/mazearcana.jpg" alt="Portada Maze Arcana" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO STREAMS-->
    <main class="video">
		<div class="reproductor">
			<iframe width="854" height="480" src="https://www.youtube.com/embed/byva0hOj8CU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="video__info">
			<div class="videotitulo">Critical Role</div>
			<div class="videotexto">
				<p> En lo que a mí respecta, esta es el mejor stream de D&D. Matthew Mercer es un DM brillante con una multitud de voces para acompañar a sus cientos de NPC y villanos únicos.</p>
				<p>El grupo está formado por actores profesionales, lo que le da a su audiencia la sensación de que se forma un verdadero vínculo entre sus personajes, lo que lo lleva a llorar cuando sus personajes se enfrentan a la confusión y a celebrar junto con ellos sus victorias. Critical Role ha tenido un impacto increíble en el resurgimiento del pasatiempo de DnD y ha atraído a miles, si no millones, de nuevos jugadores al juego y les ha dado la confianza de que DnD no es solo para nerds en el sótano de su madre.</p>
			</div>
			<div class="conocermas">
				<br>
				<a href="https://www.youtube.com/channel/UCaBf1a-dpIsw8OxqH4ki2Kg" class="btn btn-primary">Ver canal completo</a>
			</div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>