<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las razas de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Razas de todas las formas y tamaños</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Razas</h1>
	</div>
	<!--PORTADAS RAZAS-->
    <div class="portadas-contenedor">
		<a href="enano.html"><img src="../img/razas-portada-enano.jpg" alt="Portada Enanos" class="portadas-seccion"></a>
		<a href="elfo.html"><img src="../img/razas-portada-elfo.jpg" alt="Portada Elfos" class="portadas-seccion"></a>
		<a href="mediano.html"><img src="../img/razas-portada-mediano.jpg" alt="Portada Medianos" class="portadas-seccion"></a>
		<a href="humano.html"><img src="../img/razas-portada-humano.jpg" alt="Portada Humanos" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="draconido.html"><img src="../img/razas-portada-draconido.jpg" alt="Portada Draconidos" class="portadas-seccion"></a>
		<a href="gnomo.html"><img src="../img/razas-portada-gnomo.jpg" alt="Portada Gnomos" class="portadas-seccion"></a>
		<a href="semiorco.html"><img src="../img/razas-portada-semiorco.jpg" alt="Portada Semiorcos" class="portadas-seccion"></a>
		<a href="tiefling.html"><img src="../img/razas-portada-tiefling.jpg" alt="Portada Tieflings" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO RAZAS-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/razas-individual-elfo.png" alt="Foto Individual Elfo">
			<div class="nombre">Elfo</div>
		</div>
		<div class="navegacion">
			<nav class="nav nav-pills" id="pills-tab" role="tablist">
				<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos y Atributos</a>
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Subrazas</a>
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Clases sugeridas</a>
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Nombres Sugeridos</a>
			</nav>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					<p><span>Incremento de Puntuación de Característica:</span> Tu puntuación en Destreza es aumentada en 2.</p>
					<p><span>Edad:</span> Los elfos pueden vivir hasta 750 años. Maduran al mismo ritmo que los humanos, pero su entendimiento de la adultez va más allá del crecimiento físico para abarcar la experiencia mundana. Un elfo reclama la madurez hacia los 100 años.</p>
					<p><span>Alineamiento:</span> Los elfos adoran la libertad, la variedad y la autoexpresión, así que tienden hacia los aspectos más suaves del caos. También valoran y protegen la libertad de los demás así como la suya propia, y suelen inclinarse hacia el bien más que otra cosa. Los drow son una excepción: su exilio en la Infraoscuridad los ha vuelto crueles y peligrosos, inclinándose normalmente hacia el mal.</p>
					<p><span>Tamaño:</span> Los elfos miden entre 5 y 6 pies (1,5 - 1,8 metros) y tienen complexión esbelta. Tu tamaño es Mediano.</p>
					<p><span>Velocidad:</span> Tu velocidad básica a pie es de 30 pies.</p>
					<p><span>Visión en la oscuridad:</span> Puedes ver a 60 pies en la oscuridad como si hubiera luz tenue, y en la luz tenue como si estuviera bien iluminado. No puedes diferenciar colores en la oscuridad.</p>
					<p><span>Ascendencia Feérica:</span> Tienes ventaja en tiradas de salvación en contra de ser hechizado, y no puedes ser puesto a dormir mediante la magia.</p>
					<p><span>Trance:</span> Los elfos no duermen: entran en un estado de meditación profunda, permaneciendo semiconscientes, durante 4 horas al día. Cuando entras en trance, tus sueños son en realidad ejercicios mentales que se han vuelto reflexivos tras años de práctica. Tras descansar, ganas los mismos beneficios que 8 horas de descanso para un humano.</p>
					<p><span>Sentidos Agudos:</span> Eres competente en Percepción.</p>
					<p><span>Idiomas:</span> Sabes hablar, leer y escribir común y élfico.</p>
				</div>
				<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
					<span>ALTO ELFO</span>
					<p> Como un alto elfo, tienes una mente aguda y dominas al menos las bases de la magia. En muchos mundos de D&D, hay dos tipos de altos elfos. Los del primer tipo, que incluye los elfos grises y del valle de Greyhawk, los Silvanesti de Dragonlance y los elfos del sol de los Reinos Olvidados, son arrogantes y solitarios, creyéndose superiores a las demás razas e incluso a los demás elfos. El segundo tipo, que incluye a los altos elfos de Greyhawk, los Qualinesti de Dragonlance y los elfos de la luna de los Reinos Olvidados, son más comunes y amistosos, y pueden ser encontrados en compañía de humanos y otras razas.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Inteligencia aumenta en 1.</p>
					<p><span>Truco:</span> Conoces un truco de tu elección de la lista de conjuros de mago. Usas tu Inteligencia para lanzarlo.</p>
					<p><span>Entrenamiento con armas élfico:</span> Eres competente con la espada larga, la espada corta, el arco corto y el arco largo.</p>
					<p><span>Idioma adicional:</span> Sabes hablar, leer y escribir un idioma adicional a tu elección.</p>
					<br>
					<span>ELFO DE LOS BOSQUES</span>
					<p> Como elfo de los bosques, tienes unos sentidos e intuición afilados, y tus pies te llevan rápida y sigilosamente a través de tus bosques nativos. Esta categoría incluye los elfos salvajes (grugach) de Greyhawk y los Kagonesti de Dragonlance, así como las razas de elfos de los bosques de Greyhawk y los Reinos Olvidados. En Faerûn, los elfos de los bosques (también llamados elfos salvajes, elfos verdes o elfos forestales) son solitarios y desconfían de los no elfos.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Sabiduría aumenta en 1.</p>
					<p><span>Ligero de pies:</span> Tu velocidad básica a pie aumenta a 35 pies.</p>
					<p><span>Entrenamiento con armas élfico:</span> Eres competente con la espada larga, la espada corta, el arco corto y el arco largo.</p>
					<p><span>Máscara de la espesura:</span> Puedes intentar ocultarte incluso cuando estés sólo parcialmente cubierto por follaje, lluvia fuerte, nieve, niebla u otro fenómeno natural.</p>
					<br>
					<span>ELFO OSCURO (DROW)</span>
					<p> Descendientes de una raza anterior de elfos de piel oscura, los drow fueron desterrados de la superficie, siguiendo a la diosa Lloth por el camino del mal y la corrupción. Han construido su propia civilización en las profundidades de la Infraoscuridad, moldeada por la Vía de Lloth. También llamados elfos oscuros, los drow tienen pieles negras que parece obsidiana pulida y pelo blanco puro o amarillo pálido. Normalmente poseen ojos muy pálidos (tan pálidos que son confundidos por blancos) de tonos lila, plata, rosa, rojo o azul. Tienden a ser de menor tamaño y más delgados que los demás elfos.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Carisma aumenta en 1.</p>
					<p><span>Visión en la oscuridad mejorada:</span> Tu visión en la oscuridad tiene un alcance de 120 pies.</p>
					<p><span>Entrenamiento con armas drow:</span> Eres competente con el estoque, la espada corta y la ballesta de mano.</p>
					<p><span>Sensibilidad a la luz del sol:</span> Tienes desventaja en las tiradas de ataque y de Percepción basadas en la vista que hagas cuando tú o tu objetivo estéis bajo luz solar directa.</p>
				</div>
				<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
					<span>MAGO</span>
					<p> En un elfo multiclase, la clase de mago no contará a la hora de determinar si se sufre o no una penalización a los PX (consulta 'Experiencia para personajes multiclase) Las artes mágicas son algo natural para los elfos (de hecho, algunas veces incluso afirman haberlas inventado), y los guerreros/magos son particularmente comunes entre ellos .</p>
				</div>
				<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
					<span>NOMBRES MASCUILINOS</span>
					<p> Adran, Aelar, Aramil, Arannis, Aust, Beiro, Berrian, Carric , Enialis, Erdan, Erevan, Galinndan, Hadarai, Heian, Himo, Immeral, Ivellios, Laucian, Mindartis, Paelias, Peren, Quarion, Riardon, Rolen, Soveliss, Thamior, Tharivol, Theren, Varis.</p>
					<span>NOMBRES FEMENINOS</span>
					<p> Adrie, Althaea, Anastrianna, Andraste, Antinua, Bethrynna, Birel, Caelynn, Drusilia, Enna, Felosial, Ielenia, Jelenneth, Keyleth, Leshanna, Lia, Meriele, Mialee, Naivara, Quelenna, Quillathe, Sariel, Shanairra, Shava, Silaqui, Theirastra, Thia, Vadania, Valanthe, Xanaphia.</p>
				</div>
			</div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" target="_blank" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" target="_blank" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" target="_blank" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>