<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las razas de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Razas de todas las formas y tamaños</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Razas</h1>
	</div>
	<!--PORTADAS RAZAS-->
    <div class="portadas-contenedor">
		<a href="enano.html"><img src="../img/razas-portada-enano.jpg" alt="Portada Enanos" class="portadas-seccion"></a>
		<a href="elfo.html"><img src="../img/razas-portada-elfo.jpg" alt="Portada Elfos" class="portadas-seccion"></a>
		<a href="mediano.html"><img src="../img/razas-portada-mediano.jpg" alt="Portada Medianos" class="portadas-seccion"></a>
		<a href="humano.html"><img src="../img/razas-portada-humano.jpg" alt="Portada Humanos" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="draconido.html"><img src="../img/razas-portada-draconido.jpg" alt="Portada Draconidos" class="portadas-seccion"></a>
		<a href="gnomo.html"><img src="../img/razas-portada-gnomo.jpg" alt="Portada Gnomos" class="portadas-seccion"></a>
		<a href="semiorco.html"><img src="../img/razas-portada-semiorco.jpg" alt="Portada Semiorcos" class="portadas-seccion"></a>
		<a href="tiefling.html"><img src="../img/razas-portada-tiefling.jpg" alt="Portada Tieflings" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO RAZAS-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/razas-individual-enano.png" alt="Foto Individual Enano">
			<div class="nombre">Enano</div>
		</div>
		<div class="navegacion">
		<nav class="nav nav-pills" id="pills-tab" role="tablist">
			<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos y Atributos</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Subrazas</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Clases sugeridas</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Nombres Sugeridos</a>
		  </nav>
		  <div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<p><span>Incremento de Puntuación de Característica:</span> Tu puntuación en Constitución es aumentada en 2.</p>
					<p><span>Edad:</span> Los enanos maduran al mismo tiempo que los humanos, pero son considerados jóvenes hasta que alcanzan los 50 años. De media, viven unos 350 años.</p>
					<p><span>Alineamiento:</span> La mayoría de los enanos son legales, creyendo firmemente en los beneficios de una sociedad bien ordenada. Tienden hacia el bien, también con un fuerte sentido del juego limpio y una creencia de que todo el mundo merece compartir los beneficios de un orden justo.</p>
					<p><span>Tamaño:</span> Los enanos miden entre 4 y 5 pies (1,2 m — 1,5 m) y pesan alrededor de 150 libras (70 kg). Tu tamaño es Mediano.</p>
					<p><span>Velocidad:</span> Tu velocidad base a pie es de 25 pies. Tu ve-locidad no se ve reducida cuando llevas armadura pesada.</p>
					<p><span>Visión en la oscuridad:</span> Acostumbrado a vivir bajo tierra, tienes una visión superior en condiciones de oscuridad y luz tenue. Puedes ver en luz tenue a una distancia de 60 pies (18 m) desde ti como si estuviera bien iluminado, y en la oscuridad como si hubiese luz tenue. No puedes discernir colores en la oscuridad, tan solo tonos de gris.</p>
					<p><span>Resistencia enana:</span> Tienes ventaja en las tiradas de sal-vación contra veneno, y posees resistencia contra el daño por veneno.</p>
					<p><span>Entrenamiento de combate enano:</span> Eres competente con el hacha de batalla, hacha de mano, martillo arrojadizo y martillo de guerra.</p>
					<p><span>Competencia con herramientas:</span> Ganas competencia con unas herramientas de artesano a tu elección: herramien-tas de herrero, materiales de cervecería o herramientas de albañil.</p>
					<p><span>Afinidad con la piedra:</span> Cuando quiera que hagas una prueba de Inteligencia (Historia) relacionada con el origen de un trabajo hecho en piedra, eres considerado competente en la habilidad de Historia y añades el doble de tu bonificador de competencia a la tirada, en lugar de tu bonificador de competencia normal.</p>
					<p><span>Idiomas:</span> Puedes hablar, leer y escribir Común y Enano. El Enano está lleno de consonantes duras y sonidos guturales, y esas características se vierten en cualquier otro idioma que el enano pueda hablar.</p>
					<p><span>Resistencia enana:</span> Tienes ventaja en las tiradas de salvación contra veneno, y posees resistencia contra el daño por veneno.</p>
			</div>
			<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
				<span>ENANO DE LAS COLINAS</span>
					<p> Como enano de las colinas tienes sentidos perspicaces, una profunda intuición y una notable resistencia. Los Enanos dorados de Faerûn en su poderoso reino del sur son enanos de las colinas, como son el exiliado Neidar y el envilecido Klar of Krynn en el escenario de Dragonlance.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu puntuación de Sabiduría aumenta en 1.</p>
					<p><span>Dureza enana:</span> Tus Puntos de Golpe máximos aumentan en 1, y aumentan en 1 cada vez que ganes un nivel.</p>
					<br>
					<span>ENANO DE LAS MONTAÑAS</span>
					<p> Como enano de las montañas, eres fuerte y duro, acostumbrado a una vida difícil en un terreno áspero. Probablemente eres alto (para un enano) y tiendes hacia una coloración de piel más clara. Los enanos escudo del norte de Faerûn a la vez que el dominante clan Hylar y el noble clan Daewar de Dragonlance, son enanos de las montañas.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu puntuación en fuerza aumenta en 2</p>
					<p><span>Entrenamiento con armadura enana:</span> Tienes competencia con las armaduras ligeras y medias.</p>
			</div>
			<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
				<span>PALADIN</span>
					<p> Los enanos son una excelente opción para todas las configuraciones de Paladin. Obtienen bonificaciones a CON y una resistencia gratuita al veneno.</p>
					<span>GUERRERO</span>
					<p> Los enanos son una gran opción para los luchadores cuerpo a cuerpo (sólo mira a Gimli). Obtienen bonificaciones a CON y una resistencia gratuita al veneno.</p>
					<span>BÁRBARO</span>
					<p> +2 STR, la resistencia al daño, y un AoE son geniales para los bárbaros.</p>
			</div>
			<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
				<span>NOMBRES MASCUILINOS</span>
					<p> Adrik, Alberich, Baern, Barendd, Brottor, Bruenor, Dain, Darrak, Delg, Eberk, Einkil, Fargrim, Flint, Gardain, Harbek, Kildrak, Morgran, Orsik, Oskar, Rangrim, Rurik, Taklinn, Thoradin, Thorin, Tordek, Traubon, Travok, Ulfgar, Veit, Vondal.</p>
					<span>NOMBRES FEMENINOS</span>
					<p> Amber, Artin, Audhild, Bardryn, Dagnal, Diesa, Eldeth, Falkrunn, Finellen, Gunnloda, Gurdis, Helja, Hlin, Kathra, Kristryd, Ilde, Liftrasa, Mardred, Riswynn, Sannl, Torbera, Torgga, Vistra.</p>
			</div>
		  </div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" target="_blank" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" target="_blank" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" target="_blank" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>