<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las clases de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Todo sobre las clases de D&D y sus pecualiaridades</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Clases</h1>
	</div>
	<!--PORTADAS CLASES-->
    <div class="portadas-contenedor">
		<a href="barbaro.html"><img src="../img/clases-portada-barbaro.jpg" alt="Portada Barbaro" class="portadas-seccion"></a>
		<a href="bardo.html"><img src="../img/clases-portada-bardo.jpg" alt="Portada Bardo" class="portadas-seccion"></a>
		<a href="brujo.html"><img src="../img/clases-portada-brujo.jpg" alt="Portada Brujo" class="portadas-seccion"></a>
		<a href="clerigo.html"><img src="../img/clases-portada-clerigo.jpg" alt="Porda Clerigo" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="druida.html"><img src="../img/clases-portada-druida.jpg" alt="Portada Druida" class="portadas-seccion"></a>
		<a href="explorador.html"><img src="../img/clases-portada-explorador.jpg" alt="Portada Explorador" class="portadas-seccion"></a>
		<a href="guerrero.html"><img src="../img/clases-portada-guerrero.jpg" alt="Portada Guerero" class="portadas-seccion"></a>
		<a href="hechicero.html"><img src="../img/clases-portada-hechicero.jpg" alt="Portada Hechicero" class="portadas-seccion"></a>
	</div>
    <div class="portadas-contenedor">
		<a href="mago.html"><img src="../img/clases-portada-mago.jpg" alt="Portada Mago" class="portadas-seccion"></a>
		<a href="monje.html"><img src="../img/clases-portada-monje.jpg" alt="Portada Monje" class="portadas-seccion"></a>
		<a href="paladin.html"><img src="../img/clases-portada-paladin.jpg" alt="Portada Paladin" class="portadas-seccion"></a>
		<a href="picaro.html"><img src="../img/clases-portada-picaro.jpg" alt="Portada Picaro" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO CLASES-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/clases-individual-explorador.png" alt="Foto Individual Explorador">
			<div class="nombre">Explorador</div>
		</div>
		<div class="navegacion">
		<nav class="nav nav-pills" id="pills-tab" role="tablist">
			<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos de clase</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Tabla por nivel</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Características</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Conjuros</a>
		  </nav>
		  <div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <p>	Dados de golpe: 1d10 por nivel de explorador	</p>
                <p>	Puntos de golpe a nivel 1: 10 + tu modificador por Constitución	</p>
                <p>	Puntos de golpe a niveles superiores: 1d10 (o 6) + tu modificador por Constitución por nivel de explorador después del nivel 1	</p>                               

				<p><span>COMPETENCIAS</span></p>
                <p>	Armadura: Armadura ligera, armadura intermedia, escudos	</p>
                <p>	Armas: Armas sencillas, armas marciales	</p>
                <p>	Herramientas: Ninguna	</p>
                <p>	Tiradas de salvación: Fuerza, Destreza	</p>
                <p>	Habilidades: Elige tres entre Atletismo, Investigación, Naturaleza, Percepción, Perspicacia, Sigilo, Supervivencia y Trato con Animales	</p>                                               

				<p><span>EQUIPO</span></p>
                <p>	Empiezas con el siguiente equipo, además del equipo que te concede tu trasfondo:	</p>
                <p>	Cota de escamas o (b) armadura de cuero.	</p>
                <p>	Dos espadas cortas o (b) dos armas de combate cuerpo a cuerpo sencillas.	</p>
                <p>	Un pack de aventurero o (b) un pack de explorador.	</p>
                <p>	Un arco largo y una aljaba con 20 flechas.	</p>                                        
                
        	</div>
			<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
				<table class="tftable" border="1">
					<tr><th>Nivel</th><th>Bonif. de Competencia</th><th>Rasgos</th><th>Trucos</th><th>Espacios de conjuro por nivel del 1 al 5</th></tr>
                       <tr><td>1</td><td>	+2	</td><td>	Enemigo Predilecto, Explorador Nato	</td><td>	2	</td><td>	–/–/–/–/–	</td></tr>
                       <tr><td>2</td><td>	+2	</td><td>	Estilo de Combate, Lanzamiento de Conjuros	</td><td>	2	</td><td>	2/–/–/–/–	</td></tr>
                       <tr><td>3</td><td>	+2	</td><td>	Arquetipo de Explorador, Percepción Primigenia	</td><td>	2	</td><td>	3/–/–/–/–	</td></tr>
                       <tr><td>4</td><td>	+2	</td><td>	Mejora de Característica	</td><td>	3	</td><td>	3/–/–/–/–	</td></tr>
                       <tr><td>5</td><td>	+3	</td><td>	Ataque Adicional	</td><td>	3	</td><td>	4/2/–/–/–	</td></tr>
                       <tr><td>6</td><td>	+3	</td><td>	Mejora de Enemigo Predilecto y Explorador Nato	</td><td>	3	</td><td>	4/2/–/–/–	</td></tr>
                       <tr><td>7</td><td>	+3	</td><td>	Rasgo de Arquetipo de Explorador	</td><td>	3	</td><td>	4/3/–/–/–	</td></tr>
                       <tr><td>8</td><td>	+3	</td><td>	Mejora de Característica, Paso de la Tierra	</td><td>	3	</td><td>	4/3/–/–/–	</td></tr>
                       <tr><td>9</td><td>	+4	</td><td>	–	</td><td>	3	</td><td>	4/3/2/–/–	</td></tr>
                       <tr><td>10</td><td>	+4	</td><td>	Mejora de Explorador de la Nato, Esconderse a Plena Vista	</td><td>	4	</td><td>	4/3/2/–/–	</td></tr>
                       <tr><td>11</td><td>	+4	</td><td>	Rasgo de arquetipo de Explorador	</td><td>	4	</td><td>	4/3/3/–/–	</td></tr>
                       <tr><td>12</td><td>	+4	</td><td>	Mejora de Característica	</td><td>	4	</td><td>	4/3/3/–/–	</td></tr>
                       <tr><td>13</td><td>	+5	</td><td>	–	</td><td>	4	</td><td>	4/3/3/1/–	</td></tr>
                       <tr><td>14</td><td>	+5	</td><td>	Mejora de Enemigo Predilecto, Desvanecerse	</td><td>	4	</td><td>	4/3/3/1/–	</td></tr>
                       <tr><td>15</td><td>	+5	</td><td>	Rasgo de arquetipo de Explorador	</td><td>	4	</td><td>	4/3/3/2/–	</td></tr>
                       <tr><td>16</td><td>	+5	</td><td>	Mejora de Característica	</td><td>	4	</td><td>	4/3/3/2/–	</td></tr>
                       <tr><td>17</td><td>	+6	</td><td>	–	</td><td>	4	</td><td>	4/3/3/3/1	</td></tr>
                       <tr><td>18</td><td>	+6	</td><td>	Sentidos Salvajes	</td><td>	4	</td><td>	4/3/3/3/1	</td></tr>
                       <tr><td>19</td><td>	+6	</td><td>	Mejora de Característica	</td><td>	4	</td><td>	4/3/3/3/2	</td></tr>
                       <tr><td>20</td><td>	+6	</td><td>	Azote de Enemigos	</td><td>	4	</td><td>	4/3/3/3/2	</td></tr>                   
                    
                </table>
			</div>
			<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
                <p><span>	ENEMIGO PREDILECTO	</span></p>
                <p>	A partir del nivel 1, tienes una experiencia notable estudiando, rastreando, cazando e incluso hablando con un cierto tipo de enemigo. Elige un tipo de enemigo predilecto: aberraciones, bestias, celestiales, constructos, fatas, gigantes, infernales, limos, monstruosidades, no muertos o plantas. Como alternativa, puedes seleccionar dos razas de humanoides (como gnolls u orcos) como enemigos predilectos. Tienes ventaja en las pruebas de Sabiduría (Supervivencia) para rastrear a tus enemigos predilectos, así como en las pruebas de Inteligencia para recordar información sobre ellos.	</p>
                <p>	Cuando consigues este rasgo, también aprendes un idioma de tu elección que hablen tus enemigos predilectos, si es que hablan alguno.	</p>
                <p>	En los niveles 6 y 14, eliges un enemigo predilecto adicional, así como su idioma. Conforme vayas subiendo de nivel, tus elecciones deberían reflejar los tipos de monstruos que te has encontrado en tus aventuras.	</p>                

                <p><span>	EXPLORADOR NATO	</span></p>
                <p>	Estás especialmente familiarizado con un tipo de entorno natural y eres experto viajando y sobreviviendo en tales regiones. Elige un tipo de terreno predilecto: ártico, bosque, costa, desierto, montaña, pantano o pradera. Cuando hagas una prueba de Inteligencia o de Sabiduría relacionada con tu terreno predilecto, tu bonificador por competencia se multiplica por 2 si estás usando una habilidad con la que tienes competencia.	</p>
                <p>	Si viajas durante una hora o más por tu terreno predilecto, consigues los siguientes beneficios:	</p>
                <p>	El terreno difícil no reduce la velocidad de tu grupo de viaje.	</p>
                <p>	Tu grupo no puede perderse, salvo por medios mágicos.	</p>
                <p>	Incluso si estás haciendo otra actividad mientras viajas (como buscar comida, navegar o rastrear), sigues estando alerta ante el peligro.	</p>
                <p>	Si viajas solo, puedes moverte con sigilo a un ritmo normal.	</p>
                <p>	Cuando buscas comida, encuentras el doble de la comida que encontrarías normalmente.	</p>
                <p>	Mientras rastreas a otras criaturas, también puedes saber su número exacto, su tamaño y cuánto tiempo hace que pasaron por la zona.	</p>
                <p>	En los niveles 6 y 10, elige un terreno predilecto adicional.	</p>                

                <p><span>	ESTILO DE COMBATE	</span></p>
                <p>	En el nivel 2 adoptas uno de los siguientes estilos de combate como tu especialidad. No puedes coger la misma opción más de una vez, ni siquiera si más adelante se te da de nuevo la oportunidad de elegir.	</p>   
                
                <p><span>	LANZAMIENTO DE CONJUROS	</span></p>
                <p>	Cuando alcanzas el nivel 2, has aprendido cómo usar la esencia mágica de la naturaleza para lanzar conjuros, del mismo modo que lo hacen los druidas.	</p>

                <p><span>	CARACTERÍSTICA PARA LANZAR CONJUROS	</span></p>
                <p>	La característica con la que lanzas tus conjuros de explorador es Sabiduría, dado que tu magia emana de tu afinidad con la naturaleza. Usas tu Sabiduría cuando un conjuro se refiere a tu característica para el lanzamiento de conjuros. Además, usa tu modificador por Sabiduría para establecer la CD de la tirada de salvación de los conjuros de explorador que lances y cuando hagas una tirada de ataque con uno.	</p>
                <p>	CD de la salvación de conjuros = 8 + tu bonificador por competencia + tu modificador por Sabiduría	</p>
                <p>	Modificador al ataque con conjuros = tu bonificador por competencia + tu modificador por Sabiduría	</p>   
                
                <p><span>	PERCEPCIÓN PRIMIGENIA	</span></p>
                <p>	A partir del nivel 3, puedes usar tu acción y gastar un espacio de conjuro de explorador para centrar tu percepción en la región que te rodea. Durante 1 minuto por nivel del espacio del conjuro que gastas, puedes sentir si los siguientes tipos de criaturas están presentes a menos de 1 milla de ti (o 6 millas si estás en tu terreno predilecto): aberraciones, celestiales, dragones, elementales, fatas, infernales y no muertos. Este rasgo no revela ni el número de criaturas ni dónde se encuentran.	</p>
    
                <p><span>	PASO DE TIERRA	</span></p>
                <p>	A partir del nivel 8, moverte por terreno difícil no mágico no te cuesta ningún movimiento adicional. También puedes pasar por plantas no mágicas sin que tu velocidad se vea reducida y sin recibir daño de ellas si tienen pinchos, espinas o un peligro similar.	</p>
                <p>	Además, tienes ventaja en tiradas de salvación contra plantas que han sido creadas o manipuladas mágicamente para impedir el movimiento, como las creadas con el conjuro Enmarañar.	</p>                                          

			</div>
			<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
                <p><span>	Nivel 1	</span></p>
                <p>	Alarma 	</p>
                <p>	Buenas bayas 	</p>
                <p>	Curar heridas 	</p>
                <p>	Detectar magia 	</p>
                <p>	Detectar venenos y enfermedades 	</p>
                <p>	Encantar animal 	</p>
                <p>	Hablar con los animales 	</p>
                <p>	Marca del cazador 	</p>
                <p>	Nube de oscurecimiento 	</p>
                <p>	Salto 	</p>
                <p>	Zancada prodigiosa 	</p>
                <p><span>	Nivel 2	</span></p>
                <p>	Crecimiento espinoso 	</p>
                <p>	Detectar trampas 	</p>
                <p>	Localizar animales o plantas 	</p>
                <p>	Localizar objeto 	</p>
                <p>	Mensajero animal 	</p>
                <p>	Pasar sin rastro 	</p>
                <p>	Piel robliza 	</p>
                <p>	Protección contra veneno 	</p>
                <p>	Restablecimiento menor 	</p>
                <p>	Silencio 	</p>
                <p>	Visión en la oscuridad 	</p>
                <p><span>	Nivel 3	</span></p>
                <p>	Caminar sobre el agua 	</p>
                <p>	Conjurar animales 	</p>
                <p>	Crecimiento vegetal 	</p>
                <p>	Hablar con las plantas 	</p>
                <p>	Indetectable 	</p>
                <p>	Luz del día 	</p>
                <p>	Muro de viento 	</p>
                <p>	Protección contra energía 	</p>
                <p>	Respirar bajo el agua 	</p>
                <p><span>	Nivel 4	</span></p>
                <p>	Conjurar seres de los bosques 	</p>
                <p>	Libertad de movimiento 	</p>
                <p>	Localizar criatura 	</p>
                <p>	Piel pétrea 	</p>
                <p><span>	Nivel 5	</span></p>
                <p>	Comunión con la naturaleza 	</p>
                <p>	Paso arbóreo 	</p>                           
           
			</div>
		  </div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>