<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las razas de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Razas de todas las formas y tamaños</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Razas</h1>
	</div>
	<!--PORTADAS RAZAS-->
    <div class="portadas-contenedor">
		<a href="enano.html"><img src="../img/razas-portada-enano.jpg" alt="Portada Enanos" class="portadas-seccion"></a>
		<a href="elfo.html"><img src="../img/razas-portada-elfo.jpg" alt="Portada Elfos" class="portadas-seccion"></a>
		<a href="mediano.html"><img src="../img/razas-portada-mediano.jpg" alt="Portada Medianos" class="portadas-seccion"></a>
		<a href="humano.html"><img src="../img/razas-portada-humano.jpg" alt="Portada Humanos" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="draconido.html"><img src="../img/razas-portada-draconido.jpg" alt="Portada Draconidos" class="portadas-seccion"></a>
		<a href="gnomo.html"><img src="../img/razas-portada-gnomo.jpg" alt="Portada Gnomos" class="portadas-seccion"></a>
		<a href="semiorco.html"><img src="../img/razas-portada-semiorco.jpg" alt="Portada Semiorcos" class="portadas-seccion"></a>
		<a href="tiefling.html"><img src="../img/razas-portada-tiefling.jpg" alt="Portada Tieflings" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO RAZAS-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/razas-individual-gnomo.png" alt="Foto Individual Gnomo">
			<div class="nombre">Gnomo</div>
		</div>
		<div class="navegacion">
			<nav class="nav nav-pills" id="pills-tab" role="tablist">
				<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos y Atributos</a>
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Subrazas</a>
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Clases sugeridas</a>
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Nombres Sugeridos</a>
			</nav>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					<p><span>Incremento de Puntuación de Característica:</span> Tu Inteligencia aumenta en 2.</p>
					<p><span>Edad:</span> Los gnomos suelen vivir hasta los 350 años, aunque no es muy raro que lleguen a los 500 años. Maduran al mismo ritmo que los humanos, pero alcanzan la adultez a los 40 años.</p>
					<p><span>Alineamiento:</span> Los gnomos son generalmente buenos. Aquellos que tienden hacia el orden son sabios, mecánicos, eruditos investigadores o inventores. Los que tienden al caos suelen ser trovadores, truhanes, vagabundos o extravagantes joyeros. Los gnomos son despreocupados, e incluso los embaucadores entre ellos prefieren bromas inocuas a ardides maquiavélicos.</p>
					<p><span>Tamaño:</span> Los gnomos miden entre 3 y 4 pies (1 - 1,2 metros) y pesan unas 45 libras (20 kg). Tu tamaño es Pequeño.</p>
					<p><span>Velocidad:</span> Tu velocidad básica a pie es de 25 pies.​​</p>
					<p><span>Visión en la oscuridad:</span> Puedes ver a 60 pies en la oscuridad como si hubiera luz tenue, y en la luz tenue como si estuviera bien iluminado. No puedes diferenciar colores en la oscuridad.</p>
					<p><span>Astucia de gnomo:</span> Tienes ventaja en las tiradas de salvación de Inteligencia, Sabiduría y Carisma que hagas contra magia.</p>
					<p><span>Idiomas:</span> Sabes hablar, leer y escribir común y gnómico.</p>
				</div>
				<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
					<span>GNOMO DEL BOSQUE</span>
					<p> Como gnomo del bosque, posees un don natural para la ilusión y una velocidad y sigilo innatos. En los mundos de D&D, los gnomos del bosque son raros y reservados. Se reúnen en comunidades ocultas es bosques silvanos, usando ilusiones y engaños para protegerse de amenazas o para cubrir su huida si son descubiertos. Los gnomos de los bosques tienden a ser amistosos con otros habitantes benignos de los bosques, y ven a los elfos y los féericos buenos como sus más importantes aliados. Estos gnomos también hacen amistad con pequeños animales del bosque y confían en ellos para informarles de las amenazas que pueden rondar por sus tierras.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Destreza aumenta en 1.</p>
					<p><span>Ilusionista natural:</span> Conoces el truco ilusión menor. Usas tu Inteligencia para lanzarlo.</p>
                    <p><span>Hablar con bestias pequeñas:</span> Mediante sonidos y gestos, puedes comunicar ideas simples a bestias pequeñas o menores.</p>
					<br>
					<span>GNOMO DE LA ROCA</span>
					<p> Como gnomo de la roca, posees un ingenio y resistencia natural que va más allá de la de los demás gnomos. La mayoría de los gnomos de los mundos de D&D son gnomos de la roca, incluidos los gnomos hojalateros de Dragonlance.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Constitución aumenta en 1.</p>
					<p><span>Saber de artífice:</span> Cuando hagas una tirada de Historia relacionada con objetos mágicos, alquímicos o tecnológicos, puedes añadir el doble de tu bonificador de competencia a la tirada en lugar de cualquier otro bonificador que fueras a aplicar.</p>
                    <p><span>Hojalatero:</span> Eres competente con las herramientas de hojalatero. Usando estas herramientas, puedes invertir 1 hora y 10 piezas de oro en materiales para construir un artilugio de cuerda diminuto (CA 5, 1 punto de golpe). El aparato para de funcionar tras 24 horas (a no ser que inviertas 1 hora en repararlo), o cuando uses tu acción para desmantelarlo; si lo haces, puedes reclamar los materiales usados para crearlo. Puedes tener hasta tres de estos artilugios activos a la vez.</p>
                    <br>
					<span>GNOMO DE LAS PROFUNDIDADES</span>
					<p> Una tercera subraza de gnomos, los gnomos de la profundidad (o svirfneblin) viven en pequeñas comunidades dispersas por la Infraoscuridad. A diferencia de los drow y los duergar, los svirfneblin son tan bienintencionados y compasivos como sus primos de la superficie. Sin embargo, son precavidos, astutos, taciturnos y sospechan de los forasteros, y su humor y entusiasmo son ensombrecidos por el opresivo ambiente en el que viven. Su maestría inventiva está dirigida en su mayoría hacia la piedra.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Destreza aumenta en 1.</p>
					<p><span>Visión en la oscuridad mejorada:</span> Tu visión en la oscuridad tiene un alcance de 120 pies.</p>
                    <p><span>Idioma adicional:</span> Sabes hablar, leer y escribir infracomún.</p>
                    <p><span>Camuflaje de roca:</span> Tienes ventaja en las tiradas de Sigilo que hagas para esconderte en terreno rocoso.</p>
				</div>
				<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
					<span>MAGO</span>
					<p> Hablando mecánicamente, el impulso a la inteligencia los convierte en un gran punto de partida como magos. La inteligencia es la estadística base para los magos y los gnomos son la única raza que comienza con +2 de inteligencia.</p>
                    <span>DRUIDA</span>
					<p> Las competencias en inteligencia pueden funcionar bien para un druida, temáticamente cualquier jugador que decida seguir el camino gnómico se sentirá como en casa.</p>
				</div>
				<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
					<span>NOMBRES MASCUILINOS</span>
					<p> Alston, Alvyn, Boddynock, Brocc, Burgell, Dimble, Eldon, Erky, Fonkin, Frug, Gerbo, Gimble, Glim, Jebeddo, Kellen, Namfoodle, Orryn, Roondar, Seebo, Sindri, Warryn, Wrenn, Zook.</p>
					<span>NOMBRES FEMENINOS</span>
					<p> Bimpnottin, Breena, Caramip, Carlin, Donella, Duvamil, Ella, Ellyjobell, Ellywick, Lilli, Loopmottin, Lorilla, Mardnab, Nissa, Nyx, Oda, Orla, Roywyn, Shamil, Tana, Waywocket, Zanna.</p>
				</div>
			</div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>