<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las clases de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Todo sobre las clases de D&D y sus pecualiaridades</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Clases</h1>
	</div>
	<!--PORTADAS CLASES-->
    <div class="portadas-contenedor">
		<a href="barbaro.html"><img src="../img/clases-portada-barbaro.jpg" alt="Portada Barbaro" class="portadas-seccion"></a>
		<a href="bardo.html"><img src="../img/clases-portada-bardo.jpg" alt="Portada Bardo" class="portadas-seccion"></a>
		<a href="brujo.html"><img src="../img/clases-portada-brujo.jpg" alt="Portada Brujo" class="portadas-seccion"></a>
		<a href="clerigo.html"><img src="../img/clases-portada-clerigo.jpg" alt="Porda Clerigo" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="druida.html"><img src="../img/clases-portada-druida.jpg" alt="Portada Druida" class="portadas-seccion"></a>
		<a href="explorador.html"><img src="../img/clases-portada-explorador.jpg" alt="Portada Explorador" class="portadas-seccion"></a>
		<a href="guerrero.html"><img src="../img/clases-portada-guerrero.jpg" alt="Portada Guerero" class="portadas-seccion"></a>
		<a href="hechicero.html"><img src="../img/clases-portada-hechicero.jpg" alt="Portada Hechicero" class="portadas-seccion"></a>
	</div>
    <div class="portadas-contenedor">
		<a href="mago.html"><img src="../img/clases-portada-mago.jpg" alt="Portada Mago" class="portadas-seccion"></a>
		<a href="monje.html"><img src="../img/clases-portada-monje.jpg" alt="Portada Monje" class="portadas-seccion"></a>
		<a href="paladin.html"><img src="../img/clases-portada-paladin.jpg" alt="Portada Paladin" class="portadas-seccion"></a>
		<a href="picaro.html"><img src="../img/clases-portada-picaro.jpg" alt="Portada Picaro" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO CLASES-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/clases-individual-hechicero.png" alt="Foto Individual Hechicero">
			<div class="nombre">Hechicero</div>
		</div>
		<div class="navegacion">
		<nav class="nav nav-pills" id="pills-tab" role="tablist">
			<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos de clase</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Tabla por nivel</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Características</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Conjuros</a>
		  </nav>
		  <div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<p><span>PUNTOS DE GOLPE</span></p>
                <p>	Dados de golpe: 1d6 por nivel de hechicero	</p>
                <p>	Puntos de golpe a nivel 1: 6 + tu modificador por Constitución	</p>
                <p>	Puntos de golpe a niveles superiores: 1d6 (o 4) + tu modificador por Constitución por nivel de hechicero después del nivel 1	</p>                

				<p><span>COMPETENCIAS</span></p>
                <p>	Armadura: Ninguna	</p>
                <p>	Armas: ballestas ligeras, bastones, dagas, dardos, hondas	</p>
                <p>	Herramientas: Ninguna	</p>
                <p>	Tiradas de salvación: Constitución, Carisma	</p>
                <p>	Habilidades: Elige dos entre Arcanos, Engañar, Intimidar, Perspicacia, Persuasión y Religión	</p>                          

				<p><span>EQUIPO</span></p>
                <p>	Empiezas con el siguiente equipo, además del equipo que te concede tu trasfondo:	</p>
                <p>	Una ballesta ligera y 20 virotes o (b) cualquier arma sencilla.	</p>
                <p>	Una bolsa de componentes o (b) un pack de explorador.	</p>
                <p>	Dos dagas.	</p>                               
                
        	</div>
			<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
				<table class="tftable" border="1">
					<tr><th>Nivel</th><th>Bonif. de Competencia</th><th>Rasgos</th><th>Trucos</th><th>Espacios de conjuro por nivel del 1 al 9</th></tr>
                       <tr><td>1</td><td>	+2	</td><td>	Lanzamiento de Conjuros, Origen Mágico	</td><td>	3	</td><td>	1/–/–/–/–/–/–	</td></tr>
                       <tr><td>2</td><td>	+2	</td><td>		Fuente de Magia	</td><td>	3	</td><td>	3/–/–/–/–/–/–	</td></tr>
                       <tr><td>3</td><td>	+2	</td><td>	Metamagia	</td><td>	3	</td><td>	4/2/–/–/–/–/–	</td></tr>
                       <tr><td>4</td><td>	+2	</td><td>	Mejora de Característica	</td><td>	4	</td><td>	4/3/–/–/–/–/–	</td></tr>
                       <tr><td>5</td><td>	+3	</td><td>	– 	</td><td>	4	</td><td>	4/3/–/–/–/–/–	</td></tr>
                       <tr><td>6</td><td>	+3	</td><td>	Rasgo de Origen Mágico	</td><td>	4	</td><td>	4/3/2/–/–/–/–	</td></tr>
                       <tr><td>7</td><td>	+3	</td><td>	–	</td><td>	4	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>8</td><td>	+3	</td><td>	Mejora de Característica	</td><td>	4	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>9</td><td>	+4	</td><td>	–	</td><td>	4	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>10</td><td>	+4	</td><td>		Metamagia	</td><td>	5	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>11</td><td>	+4	</td><td>	–	</td><td>	5	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>12</td><td>	+4	</td><td>	Rasgo de Origen Mágico	</td><td>	5	</td><td>	4/3/3/1/–/–/–	</td></tr>
                       <tr><td>13</td><td>	+5	</td><td>	–	</td><td>	5	</td><td>	4/3/3/1/–/–/–	</td></tr>
                       <tr><td>14</td><td>	+5	</td><td>	Destruir Muertos Vivientes (VD 3)	</td><td>	5	</td><td>	4/3/3/1/1/–/–	</td></tr>
                       <tr><td>15</td><td>	+5	</td><td>	–	</td><td>	5	</td><td>	4/3/3/1/1/–/–	</td></tr>
                       <tr><td>16</td><td>	+5	</td><td>	Mejora de Característica	</td><td>	5	</td><td>	4/3/3/1/1/1/–	</td></tr>
                       <tr><td>17</td><td>	+6	</td><td>	Metamagia	</td><td>	5	</td><td>	4/3/3/1/1/1/–	</td></tr>
                       <tr><td>18</td><td>	+6	</td><td>	Rasgo de Origen Mágico	</td><td>	5	</td><td>	4/3/3/1/1/1/1	</td></tr>
                       <tr><td>19</td><td>	+6	</td><td>	Mejora de Característica	</td><td>	5	</td><td>	4/3/3/2/1/1/1	</td></tr>
                       <tr><td>20</td><td>	+6	</td><td>	Recuperación Mágica	</td><td>	5	</td><td>	4/3/3/2/2/1/1	</td></tr>                    
                    
                </table>
			</div>
			<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
                <p><span>	TRUCOS	</span></p>
                <p>	En el nivel 1, conoces cuatro trucos que elijas de la lista de conjuros de hechicero. Aprendes más trucos de hechicero de tu elección en niveles superiores, como se indica en la columna «Trucos conocidos» en la tabla del hechicero.	</p>

                <p><span>	ESPACIOS DE CONJURO	</span></p>
                <p>	La tabla del hechicero muestra cuántos espacios de conjuro tienes para lanzar tus conjuros. Para hacerlo, debes gastar un espacio del mismo nivel que el del conjuro o superior. Recuperas todos los espacios que hayas gastado cuando termines un descanso prolongado. Por ejemplo, si conoces el conjuro de nivel 1 Manos ardientes y tienes un espacio de conjuro de nivel 1 disponible y otro de nivel 2, puedes lanzarlo usando cualquiera de los dos espacios.	</p>                
                
                <p><span>	CONJUROS NIVEL 1 Y SUPERIOR	</span></p>
                <p>	Conoces dos conjuros de nivel 1 que elijas de la lista de conjuros de hechicero	</p>
                <p>	La columna «Conjuros» de la tabla del hechicero muestra cuándo aprendes nuevos conjuros. Los conjuros deben ser de un nivel para el que tengas espacios de conjuro. Por ejemplo, cuando llegas al nivel 3 de esta clase, puedes aprender un conjuro nuevo de nivel 1 o 2.	</p>
                <p>	De manera adicional, cuando subes de nivel en esta clase, puedes remplazar uno de tus conjuros de hechicero por otro de la lista de conjuros de hechicero, el cual también debe ser de un nivel para el que tengas espacios de conjuro.	</p>                               
                
                <p><span>	CARACTERÍSTICAS PARA LANZAR CONJUROS	</span></p>
                <p>	La característica con la que lanzas tus conjuros de hechicero es Carisma, dado que el poder de tu magia surge de tu capacidad para proyectar tu voluntad. Usas Carisma cuando un conjuro se refiera a tu característica para lanzar conjuros. Además, usas tu modificador por Carisma para establecer la CD de la tirada de salvación de los conjuros de hechicero que lances y cuando hagas una tirada de ataque con uno.	</p>
                <p>	CD de la salvación de conjuros = 8 + tu bonificador por competencia + tu modificador por Carisma	</p>
                <p>	Modificador al ataque con conjuros = tu bonificador por competencia + tu modificador por Carisma	</p>                        

                <p><span>	PUNTOS DE HECHICERÍA	</span></p>
                <p>	Tienes 2 puntos de sortilegio y consigues más conforme vas subiendo de nivel, como se indica en la columna «Puntos de sortilegio» de la tabla del hechicero. En ningún caso puedes tener más puntos de sortilegio de los que se muestran en la tabla para tu nivel. Recuperas todos los puntos de sortilegio gastados cuando terminas un descanso prolongado.	</p>                               

			</div>
			<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
                <p><span>	Nivel 0	</span></p>
                <p>	Agarre electrizante 	</p>
                <p>	Descarga de fuego 	</p>
                <p>	Ilusión menor 	</p>
                <p>	Impacto certero 	</p>
                <p>	Luces danzantes 	</p>
                <p>	Luz 	</p>
                <p>	Mano de mago 	</p>
                <p>	Mensaje 	</p>
                <p>	Prestidigitación 	</p>
                <p>	Rayo de escarcha 	</p>
                <p>	Reparar 	</p>
                <p>	Rociada venenosa 	</p>
                <p>	Salpicadura ácida 	</p>
                <p>	Toque helado 	</p>
                <p><span>	Nivel 1	</span></p>
                <p>	Armadura de mago 	</p>
                <p>	Caída de pluma 	</p>
                <p>	Detectar magia 	</p>
                <p>	Disfrazarse 	</p>
                <p>	Dormir 	</p>
                <p>	Entender idiomas 	</p>
                <p>	Escudo 	</p>
                <p>	Falsa vida 	</p>
                <p>	Hechizar persona 	</p>
                <p>	Imagen silenciosa 	</p>
                <p>	Manos ardientes 	</p>
                <p>	Nube de oscurecimiento 	</p>
                <p>	Ola atronadora 	</p>
                <p>	Proyectil mágico 	</p>
                <p>	Retirada expeditiva 	</p>
                <p>	Rociada de color 	</p>
                <p>	Salto 	</p>
                <p><span>	Nivel 2	</span></p>
                <p>	Abrir 	</p>
                <p>	Agrandar/reducir 	</p>
                <p>	Alterar el propio aspecto 	</p>
                <p>	Contorno borroso 	</p>
                <p>	Detectar pensamientos 	</p>
                <p>	Hacer añicos 	</p>
                <p>	Imagen múltiple 	</p>
                <p>	Inmovilizar persona 	</p>
                <p>	Invisibilidad 	</p>
                <p>	Levitar 	</p>
                <p>	Oscuridad 	</p>
                <p>	Paso brumoso 	</p>
                <p>	Potenciar característica 	</p>
                <p>	Ráfaga de viento 	</p>
                <p>	Rayo abrasador 	</p>
                <p>	Sordera / Ceguera 	</p>
                <p>	Sugestión 	</p>
                <p>	Telaraña 	</p>
                <p>	Trepar cual arácnido 	</p>
                <p>	Ver invisibilidad 	</p>
                <p>	Visión en la oscuridad 	</p>
                <p><span>	Nivel 3	</span></p>
                <p>	Acelerar 	</p>
                <p>	Bola de fuego 	</p>
                <p>	Caminar sobre el agua 	</p>
                <p>	Clarividencia 	</p>
                <p>	Contrahechizo 	</p>
                <p>	Desplazamiento 	</p>
                <p>	Disipar magia 	</p>
                <p>	Don de lenguas 	</p>
                <p>	Forma gaseosa 	</p>
                <p>	Imagen mayor 	</p>
                <p>	Luz del día 	</p>
                <p>	Nube apestosa 	</p>
                <p>	Patrón hipnótico 	</p>
                <p>	Protección contra energía 	</p>
                <p>	Ralentizar 	</p>
                <p>	Relámpago 	</p>
                <p>	Respirar bajo el agua 	</p>
                <p>	Terror 	</p>
                <p>	Tormenta de aguanieve 	</p>
                <p>	Volar 	</p>
                <p><span>	Nivel 4	</span></p>
                <p>	Confusión 	</p>
                <p>	Destierro 	</p>
                <p>	Dominar bestia 	</p>
                <p>	Invisibilidad mejorada 	</p>
                <p>	Marchitar 	</p>
                <p>	Muro de fuego 	</p>
                <p>	Piel pétrea 	</p>
                <p>	Polimorfar 	</p>
                <p>	Puerta dimensional 	</p>
                <p>	Tormenta de hielo 	</p>
                <p><span>	Nivel 5	</span></p>
                <p>	Animar objetos 	</p>
                <p>	Apariencia 	</p>
                <p>	Círculo de teletransportación 	</p>
                <p>	Cono de frío 	</p>
                <p>	Creación 	</p>
                <p>	Dominar persona 	</p>
                <p>	Inmovilizar monstruo 	</p>
                <p>	Muro de piedra 	</p>
                <p>	Nube aniquiladora 	</p>
                <p>	Plaga de insectos 	</p>
                <p>	Telequinesis 	</p>
                <p><span>	Nivel 6	</span></p>
                <p>	Círculo de muerte 	</p>
                <p>	Desintegrar 	</p>
                <p>	Globo de invulnerabilidad 	</p>
                <p>	Mal de ojo 	</p>
                <p>	Mover la tierra 	</p>
                <p>	Rayo solar 	</p>
                <p>	Relámpago en cadena 	</p>
                <p>	Sugestión en masa 	</p>
                <p>	Visión veraz 	</p>
                <p><span>	Nivel 7	</span></p>
                <p>	Bola de fuego de explosión retardada 	</p>
                <p>	Dedo de la muerte 	</p>
                <p>	Desplazamiento entre planos 	</p>
                <p>	Excursión etérea 	</p>
                <p>	Invertir gravedad 	</p>
                <p>	Rociada prismática 	</p>
                <p>	Teletransporte 	</p>
                <p>	Tormenta de fuego 	</p>
                <p><span>	Nivel 8	</span></p>
                <p>	Dominar monstruo 	</p>
                <p>	Explosión solar 	</p>
                <p>	Nube incendiaria 	</p>
                <p>	Palabra de poder: aturdir 	</p>
                <p>	Terremoto 	</p>
                <p><span>	Nivel 9	</span></p>
                <p>	Deseo 	</p>
                <p>	Palabra de poder: matar 	</p>
                <p>	Parar el tiempo 	</p>
                <p>	Portal 	</p>
                <p>	Tormenta de meteoritos 	</p>                
           
			</div>
		  </div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" target="_blank" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" target="_blank" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" target="_blank" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>