<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Te brindamos libros oficiales y no oficiales de D&D totalmente gratuitos para descargar.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Descarga libros oficiales y material homebrew</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Libros</h1>
	</div>
	<!--LIBROS-->
    <br>
    <main class="librospadre">
		<div class="libros__oficiales">
			<div class="libros__titulos">Libros Oficiales</div>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%213100&parId=EB38F1C7E07BD8D0%2156748&o=OneUp" class="libros__contenido">Manual del Jugador 5e</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%213148&parId=EB38F1C7E07BD8D0%2156748&o=OneUp" class="libros__contenido">Manual del Dungeon Master</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%213147&parId=EB38F1C7E07BD8D0%2156748&o=OneUp" class="libros__contenido">Manual de Monstruos</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%213099&parId=EB38F1C7E07BD8D0%2156751&o=OneUp" class="libros__contenido">Hoja de Personaje</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156736&parId=EB38F1C7E07BD8D0%2156746&o=OneUp" class="libros__contenido">Xanathar's Guide to Everithing</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2158858&parId=EB38F1C7E07BD8D0%2156746&o=OneUp" class="libros__contenido">Tasha's Cauldron of Everithing</a>
            <a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156747&parId=EB38F1C7E07BD8D0%2156751&o=OneUp" class="libros__contenido">Modekainen's Tome of Foes</a>
            <a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156737&parId=EB38F1C7E07BD8D0%2156751&o=OneUp" class="libros__contenido">Hey mister, can you help me?</a>
		</div>
		<div class="libros__aventuras">
			<div class="libros__titulos">Aventuras Oficiales</div>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156725&parId=EB38F1C7E07BD8D0%2156742&o=OneUp" class="libros__contenido">Curse of Strahd</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156726&parId=EB38F1C7E07BD8D0%2156742&o=OneUp" class="libros__contenido">Tomb of Annihilation</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156727&parId=EB38F1C7E07BD8D0%2156742&o=OneUp" class="libros__contenido">Tales of the Yawning Portal</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156722&parId=EB38F1C7E07BD8D0%2156742&o=OneUp" class="libros__contenido">Out of the Abyss</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156728&parId=EB38F1C7E07BD8D0%2156742&o=OneUp" class="libros__contenido">Hoard of the Dragon Queen</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156724&parId=EB38F1C7E07BD8D0%2156742&o=OneUp" class="libros__contenido">The rise of Tiamat</a>
            <a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156720&parId=EB38F1C7E07BD8D0%2156742&o=OneUp" class="libros__contenido">Asesinato en Baldur's Gate</a>
            <a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%2156723&parId=EB38F1C7E07BD8D0%2156742&o=OneUp" class="libros__contenido">Secretos de Sokol Fortress</a>
		</div>
		<div class="libros__extras">
			<div class="libros__titulos">Material Extra</div>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%213105&parId=EB38F1C7E07BD8D0%2156751&o=OneUp" class="libros__contenido">Tabla de pifias</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%213105&parId=EB38F1C7E07BD8D0%2156751&o=OneUp" class="libros__contenido">Tabla de críticos</a>
			<a href="https://docs.google.com/document/d/1MauKGpuLuJBpscpa-qtEjqxaARlU0nJ8mgiWZ_5jUH8/edit?usp=sharing" class="libros__contenido">Apéndice de condiciones</a>
			<a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%213101&parId=EB38F1C7E07BD8D0%2156751&o=OneUp" class="libros__contenido">Pantalla del Dungeon Master</a>
            <a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%213104&parId=EB38F1C7E07BD8D0%2156751&o=OneUp" class="libros__contenido">Tabla de Pociones y Objetos</a>
            <a href="https://onedrive.live.com/?authkey=%21AITMYpp1myUuA0w&cid=EB38F1C7E07BD8D0&id=EB38F1C7E07BD8D0%213106&parId=EB38F1C7E07BD8D0%2156751&o=OneUp" class="libros__contenido">Clases de Prestigio y Magia Rúnica</a>
			<a href="https://www.kassoon.com/dnd/dungeon-map/" class="libros__contenido">Dungeon Map Generator</a>
			<a href="http://rolladvantage.com/tokenstamp/" class="libros__contenido">Token Generator</a>
		</div>
	</main>
        <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer>
		<div class="footer-container">
			<div class="social-container">
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-instagram"></a>
			</div>
			<div class="copy-container">
				<h3>Copyright © Todos los derechos reservados</h3>
			</div>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>