<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las clases de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Todo sobre las clases de D&D y sus pecualiaridades</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Clases</h1>
	</div>
	<!--PORTADAS CLASES-->
    <div class="portadas-contenedor">
		<a href="barbaro.html"><img src="../img/clases-portada-barbaro.jpg" alt="Portada Barbaro" class="portadas-seccion"></a>
		<a href="bardo.html"><img src="../img/clases-portada-bardo.jpg" alt="Portada Bardo" class="portadas-seccion"></a>
		<a href="brujo.html"><img src="../img/clases-portada-brujo.jpg" alt="Portada Brujo" class="portadas-seccion"></a>
		<a href="clerigo.html"><img src="../img/clases-portada-clerigo.jpg" alt="Porda Clerigo" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="druida.html"><img src="../img/clases-portada-druida.jpg" alt="Portada Druida" class="portadas-seccion"></a>
		<a href="explorador.html"><img src="../img/clases-portada-explorador.jpg" alt="Portada Explorador" class="portadas-seccion"></a>
		<a href="guerrero.html"><img src="../img/clases-portada-guerrero.jpg" alt="Portada Guerero" class="portadas-seccion"></a>
		<a href="hechicero.html"><img src="../img/clases-portada-hechicero.jpg" alt="Portada Hechicero" class="portadas-seccion"></a>
	</div>
    <div class="portadas-contenedor">
		<a href="mago.html"><img src="../img/clases-portada-mago.jpg" alt="Portada Mago" class="portadas-seccion"></a>
		<a href="monje.html"><img src="../img/clases-portada-monje.jpg" alt="Portada Monje" class="portadas-seccion"></a>
		<a href="paladin.html"><img src="../img/clases-portada-paladin.jpg" alt="Portada Paladin" class="portadas-seccion"></a>
		<a href="picaro.html"><img src="../img/clases-portada-picaro.jpg" alt="Portada Picaro" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO CLASES-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/clases-individual-mago.png" alt="Foto Individual Mago">
			<div class="nombre">Mago</div>
		</div>
		<div class="navegacion">
		<nav class="nav nav-pills" id="pills-tab" role="tablist">
			<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos de clase</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Tabla por nivel</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Características</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Conjuros</a>
		  </nav>
		  <div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<p><span>PUNTOS DE GOLPE</span></p>
                <p>	Dados de golpe: 1d6 por nivel de mago	</p>
                <p>	Puntos de golpe a nivel 1: 6 + tu modificador por Constitución	</p>
                <p>	Puntos de golpe a niveles superiores: 1d6 (o 4) + tu modificador por Constitución por nivel de mago después del nivel 1	</p>                               

				<p><span>COMPETENCIAS</span></p>
                <p>	Armadura: Ninguna	</p>
                <p>	Armas: Ballestas ligeras, bastones, dagas, dardos, hondas	</p>
                <p>	Herramientas: Ninguna	</p>
                <p>	Tiradas de salvación: Inteligencia, Sabiduría	</p>
                <p>	Habilidades: Elige dos entre Arcanos, Historia, Investigación, Medicina, Perspicacia y Religión	</p>                                         

				<p><span>EQUIPO</span></p>
                <p>	Empiezas con el siguiente equipo, además del equipo que te concede tu trasfondo:	</p>
                <p>	Un bastón o (b) una daga.	</p>
                <p>	Una bolsa de componentes o (b) un foco arcano.	</p>
                <p>	Pack de erudito o (b) un pack de explorador.	</p>
                <p>	Un libro de conjuros.	</p>                                              
                
        	</div>
			<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
				<table class="tftable" border="1">
					<tr><th>Nivel</th><th>Bonif. de Competencia</th><th>Rasgos</th><th>Trucos</th><th>Espacios de conjuro por nivel del 1 al 9</th></tr>
                       <tr><td>1</td><td>	+2	</td><td>	Lanzamiento de conjuros, Recuperación Arcana	</td><td>	3	</td><td>	1/–/–/–/–/–/–	</td></tr>
                       <tr><td>2</td><td>	+2	</td><td>		Tradición Arcana	</td><td>	3	</td><td>	3/–/–/–/–/–/–	</td></tr>
                       <tr><td>3</td><td>	+2	</td><td>	–	</td><td>	3	</td><td>	4/2/–/–/–/–/–	</td></tr>
                       <tr><td>4</td><td>	+2	</td><td>	Mejora de Característica	</td><td>	4	</td><td>	4/3/–/–/–/–/–	</td></tr>
                       <tr><td>5</td><td>	+3	</td><td>	– 	</td><td>	4	</td><td>	4/3/–/–/–/–/–	</td></tr>
                       <tr><td>6</td><td>	+3	</td><td>	Tradición Arcana	</td><td>	4	</td><td>	4/3/2/–/–/–/–	</td></tr>
                       <tr><td>7</td><td>	+3	</td><td>	–	</td><td>	4	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>8</td><td>	+3	</td><td>	Mejora de Característica	</td><td>	4	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>9</td><td>	+4	</td><td>	–	</td><td>	4	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>10</td><td>	+4	</td><td>	Tradición Arcana	</td><td>	5	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>11</td><td>	+4	</td><td>	–	</td><td>	5	</td><td>	4/3/3/–/–/–/–	</td></tr>
                       <tr><td>12</td><td>	+4	</td><td>	Mejora de Característica	</td><td>	5	</td><td>	4/3/3/1/–/–/–	</td></tr>
                       <tr><td>13</td><td>	+5	</td><td>	–	</td><td>	5	</td><td>	4/3/3/1/–/–/–	</td></tr>
                       <tr><td>14</td><td>	+5	</td><td>	Tradición Arcana	</td><td>	5	</td><td>	4/3/3/1/1/–/–	</td></tr>
                       <tr><td>15</td><td>	+5	</td><td>	–	</td><td>	5	</td><td>	4/3/3/1/1/–/–	</td></tr>
                       <tr><td>16</td><td>	+5	</td><td>	Mejora de Característica	</td><td>	5	</td><td>	4/3/3/1/1/1/–	</td></tr>
                       <tr><td>17</td><td>	+6	</td><td>	Metamagia	</td><td>	5	</td><td>	4/3/3/1/1/1/–	</td></tr>
                       <tr><td>18</td><td>	+6	</td><td>	Maestría sobre Conjuros	</td><td>	5	</td><td>	4/3/3/1/1/1/1	</td></tr>
                       <tr><td>19</td><td>	+6	</td><td>	Mejora de Característica	</td><td>	5	</td><td>	4/3/3/2/1/1/1	</td></tr>
                       <tr><td>20</td><td>	+6	</td><td>	Conjuros Característicos	</td><td>	5	</td><td>	4/3/3/2/2/1/1	</td></tr>                    
                    
                </table>
			</div>
			<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
                <p><span>	TRUCOS	</span></p>
                <p>	En el nivel 1, conoces tres trucos de tu elección de la lista de conjuros de mago. En niveles superiores aprenderás más, como se muestra en la columna «Trucos» de la tabla del mago.	</p>

                <p><span>	LIBROS DE CONJUROS	</span></p>
                <p>	En el nivel 1, tienes un libro de conjuros con seis conjuros de mago de nivel 1 de tu elección. Tu libro de conjuros es un repositorio de los conjuros de mago que conoces, excepto los trucos, los cuales tienes memorizados.	</p>              
                
                <p><span>	PREPARAR Y LANZAR CONJUROS	</span></p>
                <p>	La tabla del mago muestra cuántos espacios de conjuro tienes para lanzar tus conjuros. Para hacerlo, debes gastar un espacio del nivel del conjuro o superior. Recuperas todos los espacios de conjuro gastados cuanto termines un descanso prolongado.	</p>
                <p>	Tú preparas la lista de conjuros que puedes lanzar: elige un número de conjuros de mago de tu libro de conjuros igual a tu modificador por Inteligencia + tu nivel de mago (mínimo un conjuro). Los conjuros deben ser de un nivel para el que tengas espacios de conjuro.	</p>
                <p>	Por ejemplo, si eres un mago de nivel 3, tienes cuatro espacios de conjuro de nivel 1 y dos de nivel 2. Con Inteligencia 16, tu lista de conjuros preparados puede incluir seis conjuros de nivel 1 o 2, en cualquier combinación, elegidos del libro de conjuros. Si preparas el conjuro de nivel 1 Proyectil mágico, puedes lanzarlo usando un espacio de nivel 1 o un espacio de nivel 2. Lanzar el conjuro no hace que se elimine de la lista de conjuros preparados.	</p>
                <p>	Puedes cambiar tu lista de conjuros preparados durante un descanso prolongado. Preparar una nueva lista requiere pasar tiempo estudiando el libro de conjuros y memorizando los ensalmos y los gestos que hay que hacer para lanzar los conjuros: al menos 1 minuto por nivel de conjuro para cada conjuro de la lista.	</p>
                                                         
                <p><span>	CARACTERÍSTICAS PARA LANZAR CONJUROS	</span></p>
                <p>	La característica con la que lanzas tus conjuros de mago es Inteligencia, dado que los aprendes a través del estudio y la memorización. Usas Inteligencia cuando un conjuro se refiera a tu característica para lanzar conjuros. Además, usas tu modificador por Inteligencia para establecer la CD de la tirada de salvación de los conjuros de mago que lances y cuando hagas una tirada de ataque con uno.	</p>
                <p>	CD de la salvación de conjuros = 8 + tu bonificador por competencia + tu modificador por Inteligencia	</p>
                <p>	Modificador al ataque con conjuros = tu bonificador por competencia + tu modificador por Inteligencia	</p>                                      

                <p><span>	RECUPERACIÓN ARCANA	</span></p>
                <p>	Has aprendido a recuperar parte de tu energía arcana estudiando tu libro de conjuros. Una vez por día, cuando hagas un descanso breve, puedes recuperar espacios de conjuro. Los espacios de conjuro pueden tener un nivel combinado igual o menor que la mitad de tu nivel de mago (redondeando hacia arriba) y, como máximo, nivel 5. Por ejemplo, si eres un mago de nivel 4, puedes recuperar hasta un valor de dos niveles de espacios de conjuro. Puedes recuperar un espacio de conjuro de nivel 2 o dos espacios de conjuro de nivel 1.	</p>                                            

			</div>
			<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
                <p><span>	Nivel 0	</span></p>
                <p>	Agarre electrizante 	</p>
                <p>	Descarga de fuego 	</p>
                <p>	Ilusión menor 	</p>
                <p>	Impacto certero 	</p>
                <p>	Luces danzantes 	</p>
                <p>	Luz 	</p>
                <p>	Mano de mago 	</p>
                <p>	Mensaje 	</p>
                <p>	Prestidigitación 	</p>
                <p>	Rayo de escarcha 	</p>
                <p>	Reparar 	</p>
                <p>	Rociada venenosa 	</p>
                <p>	Salpicadura ácida 	</p>
                <p>	Toque helado 	</p>
                <p><span>	Nivel 1	</span></p>
                <p>	Alarma 	</p>
                <p>	Armadura de mago 	</p>
                <p>	Caída de pluma 	</p>
                <p>	Detectar magia 	</p>
                <p>	Disco flotante de Tenser 	</p>
                <p>	Disfrazarse 	</p>
                <p>	Dormir 	</p>
                <p>	Encontrar familiar 	</p>
                <p>	Entender idiomas 	</p>
                <p>	Escudo 	</p>
                <p>	Falsa vida 	</p>
                <p>	Grasa 	</p>
                <p>	Hechizar persona 	</p>
                <p>	Identificar 	</p>
                <p>	Imagen silenciosa 	</p>
                <p>	Manos ardientes 	</p>
                <p>	Nube de oscurecimiento 	</p>
                <p>	Ola atronadora 	</p>
                <p>	Protección contra el bien y el mal 	</p>
                <p>	Proyectil mágico 	</p>
                <p>	Retirada expeditiva 	</p>
                <p>	Risa horrible de Tasha 	</p>
                <p>	Rociada de color 	</p>
                <p>	Salto 	</p>
                <p>	Sirviente invisible 	</p>
                <p>	Texto ilusorio 	</p>
                <p>	Zancada prodigiosa 	</p>
                <p><span>	Nivel 2	</span></p>
                <p>	Abrir 	</p>
                <p>	Agrandar/reducir 	</p>
                <p>	Alterar el propio aspecto 	</p>
                <p>	Arma mágica 	</p>
                <p>	Aura mágica de Nystul 	</p>
                <p>	Boca mágica 	</p>
                <p>	Cerradura arcana 	</p>
                <p>	Contorno borroso 	</p>
                <p>	Detectar pensamientos 	</p>
                <p>	Dulce descanso 	</p>
                <p>	Esfera de llamas 	</p>
                <p>	Flecha ácida de Melf 	</p>
                <p>	Hacer añicos 	</p>
                <p>	Imagen múltiple 	</p>
                <p>	Inmovilizar persona 	</p>
                <p>	Invisibilidad 	</p>
                <p>	Levitar 	</p>
                <p>	Llama permanente 	</p>
                <p>	Localizar objeto 	</p>
                <p>	Oscuridad 	</p>
                <p>	Paso brumoso 	</p>
                <p>	Ráfaga de viento 	</p>
                <p>	Rayo abrasador 	</p>
                <p>	Rayo debilitador 	</p>
                <p>	Sordera / Ceguera 	</p>
                <p>	Sugestión 	</p>
                <p>	Telaraña 	</p>
                <p>	Trepar cual arácnido 	</p>
                <p>	Truco de la cuerda 	</p>
                <p>	Ver invisibilidad 	</p>
                <p>	Visión en la oscuridad 	</p>
                <p><span>	Nivel 3	</span></p>
                <p>	Acelerar 	</p>
                <p>	Animar a los muertos 	</p>
                <p>	Bola de fuego 	</p>
                <p>	Círculo mágico 	</p>
                <p>	Clarividencia 	</p>
                <p>	Contrahechizo 	</p>
                <p>	Corcel fantasma 	</p>
                <p>	Desplazamiento 	</p>
                <p>	Disipar magia 	</p>
                <p>	Don de lenguas 	</p>
                <p>	Forma gaseosa 	</p>
                <p>	Glifo custodio 	</p>
                <p>	Imagen mayor 	</p>
                <p>	Imponer maldición 	</p>
                <p>	Indetectable 	</p>
                <p>	Levantar maldición 	</p>
                <p>	Nube apestosa 	</p>
                <p>	Patrón hipnótico 	</p>
                <p>	Pequeña choza de Leomund 	</p>
                <p>	Protección contra energía 	</p>
                <p>	Ralentizar 	</p>
                <p>	Recado 	</p>
                <p>	Relámpago 	</p>
                <p>	Respirar bajo el agua 	</p>
                <p>	Terror 	</p>
                <p>	Toque vampírico 	</p>
                <p>	Tormenta de aguanieve 	</p>
                <p>	Volar 	</p>
                <p><span>	Nivel 4	</span></p>
                <p>	Asesino fantasmal 	</p>
                <p>	Cofre oculto de Leomund 	</p>
                <p>	Confusión 	</p>
                <p>	Conjurar elementales menores 	</p>
                <p>	Controlar agua 	</p>
                <p>	Destierro 	</p>
                <p>	Escudo de fuego 	</p>
                <p>	Esfera elástica de Otiluke 	</p>
                <p>	Fabricar 	</p>
                <p>	Invisibilidad mejorada 	</p>
                <p>	Localizar criatura 	</p>
                <p>	Marchitar 	</p>
                <p>	Mastín fiel de Mordenkainen 	</p>
                <p>	Moldear la piedra 	</p>
                <p>	Muro de fuego 	</p>
                <p>	Ojo arcano 	</p>
                <p>	Piel pétrea 	</p>
                <p>	Polimorfar 	</p>
                <p>	Puerta dimensional 	</p>
                <p>	Sanctasanctórum privado de Mordenkainen 	</p>
                <p>	Tentáculos negros de Evard 	</p>
                <p>	Terreno alucinatorio 	</p>
                <p>	Tormenta de hielo 	</p>
                <p><span>	Nivel 5	</span></p>
                <p>	Alterar los recuerdos 	</p>
                <p>	Animar objetos 	</p>
                <p>	Apariencia 	</p>
                <p>	Atadura planar 	</p>
                <p>	Círculo de teletransportación 	</p>
                <p>	Conjurar elemental 	</p>
                <p>	Cono de frío 	</p>
                <p>	Conocer las leyendas 	</p>
                <p>	Contactar con otro plano 	</p>
                <p>	Creación 	</p>
                <p>	Dominar persona 	</p>
                <p>	Engañar 	</p>
                <p>	Enlace telepático de Rary 	</p>
                <p>	Ensueño 	</p>
                <p>	Escudriñar 	</p>
                <p>	Geas 	</p>
                <p>	Inmovilizar monstruo 	</p>
                <p>	Mano de Bigby 	</p>
                <p>	Muro de fuerza 	</p>
                <p>	Muro de piedra 	</p>
                <p>	Nube aniquiladora 	</p>
                <p>	Pasamuros 	</p>
                <p>	Telequinesis 	</p>
                <p><span>	Nivel 6	</span></p>
                <p>	Baile irresistible de Otto 	</p>
                <p>	Círculo de muerte 	</p>
                <p>	Contingencia 	</p>
                <p>	Crear muerto viviente 	</p>
                <p>	De la carne a la piedra 	</p>
                <p>	Desintegrar 	</p>
                <p>	Esfera congelante de Otiluke 	</p>
                <p>	Globo de invulnerabilidad 	</p>
                <p>	Guardas y guardias 	</p>
                <p>	Ilusión programada 	</p>
                <p>	Invocación instantánea de Drawmij 	</p>
                <p>	Mal de ojo 	</p>
                <p>	Mover la tierra 	</p>
                <p>	Muro de hielo 	</p>
                <p>	Rayo solar 	</p>
                <p>	Relámpago en cadena 	</p>
                <p>	Sugestión en masa 	</p>
                <p>	Urna mágica 	</p>
                <p>	Visión veraz 	</p>
                <p><span>	Nivel 7	</span></p>
                <p>	Bola de fuego de explosión retardada 	</p>
                <p>	Dedo de la muerte 	</p>
                <p>	Desplazamiento entre planos 	</p>
                <p>	Espada de Mordenkainen 	</p>
                <p>	Espejismo arcano 	</p>
                <p>	Excursión etérea 	</p>
                <p>	Invertir gravedad 	</p>
                <p>	Jaula de fuerza 	</p>
                <p>	Magnífica mansión de Mordenkainen 	</p>
                <p>	Proyectar imagen 	</p>
                <p>	Recluir 	</p>
                <p>	Rociada prismática 	</p>
                <p>	Símbolo 	</p>
                <p>	Simulacro 	</p>
                <p>	Teletransporte 	</p>
                <p><span>	Nivel 8	</span></p>
                <p>	Antipatía/simpatía 	</p>
                <p>	Campo antimagia 	</p>
                <p>	Clon 	</p>
                <p>	Controlar el clima 	</p>
                <p>	Dominar monstruo 	</p>
                <p>	Explosión solar 	</p>
                <p>	Laberinto 	</p>
                <p>	Mente en blanco 	</p>
                <p>	Nube incendiaria 	</p>
                <p>	Palabra de poder: aturdir 	</p>
                <p>	Romper la mente 	</p>
                <p>	Semiplano 	</p>
                <p><span>	Nivel 9	</span></p>
                <p>	Cambiar de forma 	</p>
                <p>	Cautiverio 	</p>
                <p>	Deseo 	</p>
                <p>	Muro prismático 	</p>
                <p>	Palabra de poder: matar 	</p>
                <p>	Parar el tiempo 	</p>
                <p>	Polimorfar verdadero 	</p>
                <p>	Portal 	</p>
                <p>	Presagio 	</p>
                <p>	Proyección astral 	</p>
                <p>	Terror abyecto 	</p>
                <p>	Tormenta de meteoritos 	</p>                         
           
			</div>
		  </div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" target="_blank" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" target="_blank" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" target="_blank" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>