<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las razas de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Razas de todas las formas y tamaños</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Razas</h1>
	</div>
	<!--PORTADAS RAZAS-->
    <div class="portadas-contenedor">
		<a href="enano.html"><img src="../img/razas-portada-enano.jpg" alt="Portada Enanos" class="portadas-seccion"></a>
		<a href="elfo.html"><img src="../img/razas-portada-elfo.jpg" alt="Portada Elfos" class="portadas-seccion"></a>
		<a href="mediano.html"><img src="../img/razas-portada-mediano.jpg" alt="Portada Medianos" class="portadas-seccion"></a>
		<a href="humano.html"><img src="../img/razas-portada-humano.jpg" alt="Portada Humanos" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="draconido.html"><img src="../img/razas-portada-draconido.jpg" alt="Portada Draconidos" class="portadas-seccion"></a>
		<a href="gnomo.html"><img src="../img/razas-portada-gnomo.jpg" alt="Portada Gnomos" class="portadas-seccion"></a>
		<a href="semiorco.html"><img src="../img/razas-portada-semiorco.jpg" alt="Portada Semiorcos" class="portadas-seccion"></a>
		<a href="tiefling.html"><img src="../img/razas-portada-tiefling.jpg" alt="Portada Tieflings" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO RAZAS-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/razas-individual-mediano.png" alt="Foto Individual Mediano">
			<div class="nombre">Mediano</div>
		</div>
		<div class="navegacion">
			<nav class="nav nav-pills" id="pills-tab" role="tablist">
				<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos y Atributos</a>
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Subrazas</a>
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Clases sugeridas</a>
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Nombres Sugeridos</a>
			</nav>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					<p><span>Incremento de Puntuación de Característica:</span> Tu Destreza aumenta en 2.</p>
					<p><span>Edad:</span> Los medianos suelen vivir hasta los 150 años. Alcanzan la madurez a los 20 años.</p>
					<p><span>Alineamiento:</span> La mayoría de los medianos son legales buenos. Como norma, son bondadosos y amables, odian ver sufrir a otros y no toleran la opresión. También son muy tradicionales y ordenados, apoyándose fuertemente en el apoyo de su comunidad y la comodidad de las viejas costumbres.</p>
					<p><span>Tamaño:</span> Los medianos miden unos 3 pies (1 metro) y pesan unos 20 kg. Tu tamaño es Pequeño.</p>
					<p><span>Velocidad:</span> Tu velocidad básica a pie es de 25 pies.</p>
					<p><span>Afortunado:</span> Cuando sacas un 1 en una tirada de ataque, de habilidad o de salvación, puedes volver a tirar el dado. Debes usar el nuevo resultado, incluso si es otro 1.</p>
					<p><span>Valiente:</span> Tienes ventaja en las tiradas de salvación que hagas en contra de ser asustado.</p>
					<p><span>Ágil:</span> Puedes moverte a través del espacio ocupado por cualquier criatura de un tamaño mayor al tuyo.</p>
					<p><span>Idiomas:</span> Sabes hablar, leer y escribir común y mediano.</p>
				</div>
				<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
					<span>MEDIANOS PIESLIGEROS</span>
					<p> Como mediano piesligeros, puedes evadir fácilmente el ser detectado, incluso usando a otras personas como cobertura. Tiendes a ser afable y llevarte bien con los demás. En los Reinos Olvidados, los medianos piesligeros son los que más lejos se han expandido, y por ello, son la variedad más común.
                    Los piesligeros son los más dados a amar los viajes de todos los medianos, y suelen habitar junto a otras razas o llevar una vida nómada. En el mundo de Greyhawk, estos medianos son llamados pelopies o tiosaltos.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Carisma aumenta en 1.</p>
					<p><span>Sigiloso por naturaleza:</span> Puedes intentar ocultarte cuando estés escondido tras una criatura que sea al menos de un tamaño mayor al tuyo.</p>
					<br>
					<span>MEDIANO FORNIDO</span>
					<p> Como mediano fornido, eres más duro de lo normal y tienes cierta resistencia al veneno. Algunos dicen que los fornidos tienen sangre enana. En los Reinos Olvidados, estos medianos son llamados fortecores, y son los más comunes en el sur.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Constitución aumenta en 1.</p>
					<p><span>Resistencia fornida:</span> Tienes ventaja en las tiradas de salvación que hagas contra veneno o ser envenenado, y eres resistente al daño por veneno.</p>
					<br>
					<span>MEDIANO FANTASAGAZ</span>
					<p> Los fantasagaces poseen la habilidad de comunicarse telepáticamente con cualquier criatura con la que compartan un idioma. Son la variedad menos común de mediano. Son los menos dados a ser aventureros, y están obsesionados con la familia y el clan.
                    En los Reinos Olvidados, los fantasagaces fueron antaño expulsados por los piesligeros y los fortecores después de que comenzasen a adorar a un dios de la violencia y cometieran atrocidades contra los demás medianos y criaturas. Tras una larga guerra, se exiliaron a Bosquechondal, donde juraron no volver a hablar hasta haber expiado sus pecados.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Sabiduría aumenta en 1.</p>
					<p><span>Habla silenciosa:</span> Puedes hablar telepáticamente a cualquier criatura a 30 pies de ti. La criatura sólo te entiende si ambos comprendéis un mismo idioma. Sólo puedes hablar telepáticamente con una criatura a la vez.</p>
                    <br>
					<span>MEDIANO LOTOGAR</span>
					<p> Pocos xhorhasianos han visto nunca un mediano, excepto por el ocasional soldado mediano del ejército dwendaliano. Debido a esto, la mayoría de ciudadanos kryn ven a los medianos como iconos del imperio, y desconfían de ellos. Tan solo los medianos lotohogar, un solitario e insular clan nativo del Bosque de Lotohogar, pueden llamar a Xhorhas hogar.
                    Fuertemente vinculados al corazón natural del Bosque de Lotohogar, estos medianos se han adaptado para vivir sinérgicamente con las caóticas leyes salvajes.</p>
					<p><span>Incremento de puntuación de característica:</span> Tu Sabiduría aumenta en 1.</p>
					<p><span>Hijo de los bosques:</span> Conoces el truco magia druídica. Cuando subas al nivel 3, puedes lanzar el conjuro enredar una vez. Cuando subas al nivel 5, puedes lanzar el conjuro brote de espinas una vez. No puedes volver a lanzar estos conjuros hasta finalizar un descanso largo. Lanzar estos conjuros usando esta habilidad no requiere componentes materiales. Utilizas tu Sabiduría para lanzarlos.</p>
                    <p><span>Pase forestal:</span> Las tiradas hechas para intentar rastrearte tienen desventaja, y puedes moverte sin dificultad a través de terreno difícil compuesto de plantas no mágicas o maleza.</p>
				</div>
				<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
					<span>PICARO</span>
					<p> Los medianos (halflings) son oportunistas listos y competentes; de hecho, tanto los individuos como los clanes de esta raza suelen encontrar su sitio allí donde pueden. Muchas veces son forasteros y vagabundos, y los demás reaccionan ante ellos con una mezcla de suspicacia y curiosidad. Dependiendo de su clan, los medianos pueden ser ciudadanos trabajadores y de fiar (aunque un poco cerrados) o bien ladrones a la espera de dar un buen golpe y desaparecer en la oscuridad de la noche. Sea como fuere, los medianos siempre son supervivientes astutos e ingeniosos.</p>
				</div>
				<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
					<span>NOMBRES MASCUILINOS</span>
					<p> Alton, Ander, Cade, Corrin, Eldon, Errich, Finnan, Garret, Lindal, Lyle, Merric, Milo, Osborn, Perrin, Reed, Roscoe, Wellby.</p>
					<span>NOMBRES FEMENINOS</span>
					<p> Andry, Bree, Callie, Cora, Euphemia, Jillian, Kithri, Lavinia, Lidda, Merla, Nedda, Paela, Portia, Seraphina, Shaena, Trym, Vani, Verna.</p>
				</div>
			</div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" target="_blank" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" target="_blank" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" target="_blank" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>