<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las clases de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Todo sobre las clases de D&D y sus pecualiaridades</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Clases</h1>
	</div>
	<!--PORTADAS CLASES-->
    <div class="portadas-contenedor">
		<a href="barbaro.html"><img src="../img/clases-portada-barbaro.jpg" alt="Portada Barbaro" class="portadas-seccion"></a>
		<a href="bardo.html"><img src="../img/clases-portada-bardo.jpg" alt="Portada Bardo" class="portadas-seccion"></a>
		<a href="brujo.html"><img src="../img/clases-portada-brujo.jpg" alt="Portada Brujo" class="portadas-seccion"></a>
		<a href="clerigo.html"><img src="../img/clases-portada-clerigo.jpg" alt="Porda Clerigo" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="druida.html"><img src="../img/clases-portada-druida.jpg" alt="Portada Druida" class="portadas-seccion"></a>
		<a href="explorador.html"><img src="../img/clases-portada-explorador.jpg" alt="Portada Explorador" class="portadas-seccion"></a>
		<a href="guerrero.html"><img src="../img/clases-portada-guerrero.jpg" alt="Portada Guerero" class="portadas-seccion"></a>
		<a href="hechicero.html"><img src="../img/clases-portada-hechicero.jpg" alt="Portada Hechicero" class="portadas-seccion"></a>
	</div>
    <div class="portadas-contenedor">
		<a href="mago.html"><img src="../img/clases-portada-mago.jpg" alt="Portada Mago" class="portadas-seccion"></a>
		<a href="monje.html"><img src="../img/clases-portada-monje.jpg" alt="Portada Monje" class="portadas-seccion"></a>
		<a href="paladin.html"><img src="../img/clases-portada-paladin.jpg" alt="Portada Paladin" class="portadas-seccion"></a>
		<a href="picaro.html"><img src="../img/clases-portada-picaro.jpg" alt="Portada Picaro" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO CLASES-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/clases-individual-monje.png" alt="Foto Individual Monje">
			<div class="nombre">Monje</div>
		</div>
		<div class="navegacion">
		<nav class="nav nav-pills" id="pills-tab" role="tablist">
			<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos de clase</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Tabla por nivel</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Características</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Conjuros</a>
		  </nav>
		  <div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<p><span>PUNTOS DE GOLPE</span></p>
                <p>	Dados de golpe: 1d8 por nivel de monje	</p>
                <p>	Puntos de golpe a nivel 1: 8 + tu modificador por Constitución	</p>
                <p>	Puntos de golpe a niveles superiores: 1d8 (o 5) + tu modificador por Constitución por nivel de monje después del nivel 1	</p>
                
				<p><span>COMPETENCIAS</span></p>
                <p>	Armadura: Ninguna	</p>
                <p>	Armas: Armas sencillas, espadas cortas	</p>
                <p>	Herramientas: Elige un tipo de herramienta de artesano o un instrumento musical	</p>
                <p>	Tiradas de salvación: Fuerza, Destreza	</p>
                <p>	Habilidades: Elige dos entre Acrobacias, Atletismo, Historia, Perspicacia, Religión y Sigilo	</p>
                
				<p><span>EQUIPO</span></p>
                <p>	Empiezas con el siguiente equipo, además del equipo que te concede tu trasfondo:	</p>
                <p>	Una espada corta o (b) cualquier arma sencilla.	</p>
                <p>	Un pack de aventurero o (b) un pack de explorador.	</p>
                <p>	10 dardos.	</p>
                
			</div>
			<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
				<table class="tftable" border="1">
					<tr><th>Nivel</th><th>Bonif. de Competencia</th><th>Artes Marciales</th><th>Puntos de Ki</th><th>Movimiento sun armadura</th><th>Rasgos</th></tr>
                       <tr><td>1</td><td>	+2	</td><td>	1d4	</td><td>	–	</td><td>	–	</td><td>	Defensa sin Armadura, Artes Marciales	</td></tr>
                       <tr><td>2</td><td>	+2	</td><td>	1d4	</td><td>	2	</td><td>	10	</td><td>	Ki, Movimiento sin Armadura	</td></tr>
                       <tr><td>3</td><td>	+2	</td><td>	1d4	</td><td>	3	</td><td>	10	</td><td>	Tradición Monástica, Desviar Proyectiles	</td></tr>
                       <tr><td>4</td><td>	+2	</td><td>	1d4	</td><td>	4	</td><td>	10	</td><td>	Mejora de Característica, Caída Lenta	</td></tr>
                       <tr><td>5</td><td>	+3	</td><td>	1d6	</td><td>	5	</td><td>	10	</td><td>	Ataque Adicional, Golpe Aturdidor	</td></tr>
                       <tr><td>6</td><td>	+3	</td><td>	1d6	</td><td>	6	</td><td>	15	</td><td>	Golpes Potenciados con Ki, rasgo de Tradición Monástica	</td></tr>
                       <tr><td>7</td><td>	+3	</td><td>	1d6	</td><td>	7	</td><td>	15	</td><td>	Evasión, Quietud Mental	</td></tr>
                       <tr><td>8</td><td>	+3	</td><td>	1d6	</td><td>	8	</td><td>	15	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>9</td><td>	+4	</td><td>	1d6	</td><td>	9	</td><td>	15	</td><td>	Mejora de Movimiento sin Armadura	</td></tr>
                       <tr><td>10</td><td>	+4	</td><td>	1d6	</td><td>	10	</td><td>	20	</td><td>	Pureza de Cuerpo	</td></tr>
                       <tr><td>11</td><td>	+4	</td><td>	1d8	</td><td>	11	</td><td>	20	</td><td>	Rasgo de Tradición Monástica	</td></tr>
                       <tr><td>12</td><td>	+4	</td><td>	1d8	</td><td>	12	</td><td>	20	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>13</td><td>	+5	</td><td>	1d8	</td><td>	13	</td><td>	20	</td><td>	Lengua del Sol y la Luna	</td></tr>
                       <tr><td>14</td><td>	+5	</td><td>	1d8	</td><td>	14	</td><td>	25	</td><td>	Alma Diamantina	</td></tr>
                       <tr><td>15</td><td>	+5	</td><td>	1d8	</td><td>	15	</td><td>	25	</td><td>	Cuerpo Atemporal	</td></tr>
                       <tr><td>16</td><td>	+5	</td><td>	1d8	</td><td>	16	</td><td>	25	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>17</td><td>	+6	</td><td>	1d10	</td><td>	17	</td><td>	25	</td><td>	Rasgo de Tradición Monástica	</td></tr>
                       <tr><td>18</td><td>	+6	</td><td>	1d10	</td><td>	18	</td><td>	30	</td><td>	Cuerpo Vacío	</td></tr>
                       <tr><td>19</td><td>	+6	</td><td>	1d10	</td><td>	19	</td><td>	30	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>20</td><td>	+6	</td><td>	1d10	</td><td>	20	</td><td>	30	</td><td>	Yo Perfecto	</td></tr>
                    
				</table>
			</div>
			<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
				<p><span>	DEFENSA SIN ARMADURA	</span></p>
                <p>	A partir del nivel 1, mientras no lleves ni armadura ni escudo, tu CA es igual a 10 + tu modificador por Destreza + tu modificador por Sabiduría.	</p>

                <p><span>	ARTES MARCIALES	</span></p>
                <p>	En el nivel 1, tu práctica en las artes marciales te permite dominar estilos de combate que usan impactos desarmados y armas de monje, que son espadas cortas y cualquier arma cuerpo a cuerpo sencilla que no tenga la propiedad «dos manos» o «pesada». Obtienes los siguientes beneficios mientras estás desarmado o solo blandes armas de monje y no llevas ni armadura ni escudo:	</p>
                <p>	Puedes usar Destreza en lugar de Fuerza en los ataques y las tiradas de daño que realices sin armas o con armas de monje.	</p>
                <p>	Puedes tirar 1d4 en lugar del daño habitual de tu impacto desarmado o arma de monje. Este dado cambia según vas consiguiendo niveles de monje, como se indica en la columna de «Artes marciales» de la tabla del monje.	</p>
                <p>	Cuando en tu turno realizas una acción de ataque desarmado o con un arma de monje, puedes realizar un impacto desarmado como acción adicional. Por ejemplo, si realizas una acción de ataque con un bastón, también puedes realizar un impacto desarmado como acción adicional, asumiendo que todavía no hayas hecho una acción adicional durante ese turno.	</p>
                <p>	Ciertos monasterios usan tipos de armas de monje especializadas. Por ejemplo, puedes usar dos clavas de madera conectadas por una cadena corta (que se llama nunchaku) o una hoz con una hoja más corta y recta (que se llama kama). Independientemente del nombre que uses para tu arma de monje, puedes usar las estadísticas de juego que se indican para el arma.	</p>
                
                <p><span>	KI	</span></p>
                <p>	A partir del nivel 2, tu entrenamiento te permite utilizar la energía mística del ki. Tu acceso a esta energía se representa mediante un número de puntos de ki. Tu nivel de monje determina el número de puntos que tienes, como se indica en la columna de «Puntos de ki» de la tabla del monje.	</p>
                <p>	Puedes gastar estos puntos para activar varios rasgos de ki. Empiezas conociendo tres: Ráfaga de golpes, Defensa paciente y Paso del viento. Conforme vas subiendo de nivel en esta clase, vas ganando rasgos de ki.	</p>
                <p>	Cuando gastas 1 punto de ki, este no vuelve a estar disponible hasta que no termines un descanso prolongado o breve, al final del cual recuperas todos los puntos gastados. Debes pasar al menos 30 minutos de descanso meditando para recuperar tus puntos de ki.	</p>
                <p>	Algunos de tus rasgos de ki requieren que tu objetivo haga una tirada de salvación para resistir sus efectos. La CD de la tirada de salvación se calcula de este modo:	</p>
                <p>	CD salvación de ki = 8 + tu bonificador por competencia + tu modificador por Sabiduría	</p>
                
                <p><span>	RÁFAGA DE GOLPES	</span></p>
                <p>	Inmediatamente después de realizar tu acción de ataque durante tu turno, puedes gastar 1 punto de ki para realizar dos impactos desarmados como acción adicional.	</p>
                
                <p><span>	DEFENSA PACIENTE	</span></p>
                <p>	Puedes gastar 1 punto de ki para hacer una acción de esquivar como acción adicional durante tu turno.	</p>
                
                <p><span>	PASO DEL VIENTO	</span></p>
                <p>	Puedes gastar 1 punto de ki para realizar una acción de retirarse o esprintar como una acción adicional durante tu turno. Tu distancia de salto se dobla durante ese turno.	</p>
                
			</div>
			<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
					<p> Los monjes no poseen conjuros ya que no es una clase lanzadora de conjuros.</p>
			</div>
		  </div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>