<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Estilos Boostrap y CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- Descripcion-->
	<meta name="description" content="Todas las clases de D&D y sus características más importantes.">
	<!-- Key Words-->
	<meta name="keywords" content="calabozos, dragones, juego de mesa, dungeons, dragons, recursos, libros, D&D, roll">
	<!-- Icono del sitio-->
	<link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">
	<!-- Titulo de esta pagina-->
	<title>Posada del Cuarto Río | Todo sobre las clases de D&D y sus pecualiaridades</title>
</head>
<body>
	<!-- HEADER-->
	<header>
		<nav class="nav">
			<div class="nav__container">
				<div class="nav__logo">
					<a href="../index.html"><img src="../img/logomini.png" alt="Logo Posada"></a>
				</div>
				<label for="menu" class="nav__label">
					<img src="../assets/svg/menu.svg" alt="Hamburguesa" class="nav__img">
				</label>
				<input type="checkbox" name="Hamburguesa" id="menu" class="nav__input">

				<div class="nav__menu">
					<a href="nosotros.html" class="nav__item">Nosotros</a>
					<a href="apoyanos.html" class="nav__item">Apoyanos</a>
					<a href="contacto.html" class="nav__item">Contacto</a>
				</div>
			</div>
		</nav>
	</header>
	<!--PORTADA PRINCIPAL-->
	<div class="portada-container-secciones">
		<h1>Clases</h1>
	</div>
	<!--PORTADAS CLASES-->
    <div class="portadas-contenedor">
		<a href="barbaro.html"><img src="../img/clases-portada-barbaro.jpg" alt="Portada Barbaro" class="portadas-seccion"></a>
		<a href="bardo.html"><img src="../img/clases-portada-bardo.jpg" alt="Portada Bardo" class="portadas-seccion"></a>
		<a href="brujo.html"><img src="../img/clases-portada-brujo.jpg" alt="Portada Brujo" class="portadas-seccion"></a>
		<a href="clerigo.html"><img src="../img/clases-portada-clerigo.jpg" alt="Porda Clerigo" class="portadas-seccion"></a>
	</div>
	<div class="portadas-contenedor">
		<a href="druida.html"><img src="../img/clases-portada-druida.jpg" alt="Portada Druida" class="portadas-seccion"></a>
		<a href="explorador.html"><img src="../img/clases-portada-explorador.jpg" alt="Portada Explorador" class="portadas-seccion"></a>
		<a href="guerrero.html"><img src="../img/clases-portada-guerrero.jpg" alt="Portada Guerero" class="portadas-seccion"></a>
		<a href="hechicero.html"><img src="../img/clases-portada-hechicero.jpg" alt="Portada Hechicero" class="portadas-seccion"></a>
	</div>
    <div class="portadas-contenedor">
		<a href="mago.html"><img src="../img/clases-portada-mago.jpg" alt="Portada Mago" class="portadas-seccion"></a>
		<a href="monje.html"><img src="../img/clases-portada-monje.jpg" alt="Portada Monje" class="portadas-seccion"></a>
		<a href="paladin.html"><img src="../img/clases-portada-paladin.jpg" alt="Portada Paladin" class="portadas-seccion"></a>
		<a href="picaro.html"><img src="../img/clases-portada-picaro.jpg" alt="Portada Picaro" class="portadas-seccion"></a>
	</div>
    <br>
    <!--CONTENIDO CLASES-->
    <main class="razas">
        <div class="razas-foto">
            <img src="../img/clases-individual-picaro.png" alt="Foto Individual Picaro">
			<div class="nombre">Pícaro</div>
		</div>
		<div class="navegacion">
		<nav class="nav nav-pills" id="pills-tab" role="tablist">
			<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Rasgos de clase</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-subrazas" role="tab" aria-controls="pills-profile" aria-selected="false">Tabla por nivel</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-clases" role="tab" aria-controls="pills-profile" aria-selected="false">Características</a>
			<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-nombres" role="tab" aria-controls="pills-profile" aria-selected="false">Conjuros</a>
		  </nav>
		  <div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<p><span>PUNTOS DE GOLPE</span></p>
                <p>	Dados de golpe: 1d8 por nivel de pícaro	</p>
                <p>	Puntos de golpe a nivel 1: 8 + tu modificador por Constitución	</p>
                <p>	Puntos de golpe a niveles superiores: 1d8 (o 5) + tu modificador por Constitución por nivel de pícaro después del nivel 1	</p>
                
				<p><span>COMPETENCIAS</span></p>
                <p>	Armadura: Armadura ligera	</p>
                <p>	Armas: Armas sencillas, ballestas de mano, espadas largas, estoques, espadas cortas	</p>
                <p>	Herramientas: Herramientas de ladrón	</p>
                <p>	Tiradas de salvación: Destreza, Inteligencia	</p>
                <p>	Habilidades: Elige cuatro entre Acrobacias, Atletismo, Engañar, Interpretación, Intimidar, Investigación, Juego de Manos, Percepción, Perspicacia, Persuasión y Sigilo.	</p>
                
				<p><span>EQUIPO</span></p>
                <p>	Empiezas con el siguiente equipo, además del equipo que te concede tu trasfondo:	</p>
                <p>	Un estoque o (b) una espada corta.	</p>
                <p>	Un arco corto y una aljaba de 20 flechas o (b) una espada corta.	</p>
                <p>	Un pack de ladrón, (b) un pack de aventurero o (c) un pack de explorador.	</p>
                <p>	Armadura de cuero, dos dagas y herramientas del ladrón.	</p>
                
			</div>
			<div class="tab-pane fade" id="pills-subrazas" role="tabpanel" aria-labelledby="pills-subrazas-tab">
				<table class="tftable" border="1">
					<tr><th>Nivel</th><th>Bonif. de Competencia</th><th>Ataque Furtivo</th><th>Rasgos</th></tr>
                       <tr><td>1</td><td>	+2	</td><td>	1d6	</td><td>	Pericia, Ataque Furtivo, Jerga de Ladrones	</td></tr>
                       <tr><td>2</td><td>	+2	</td><td>	1d6	</td><td>	Acción Astuta	</td></tr>
                       <tr><td>3</td><td>	+2	</td><td>	2d6	</td><td>	Arquetipo de Pícaro	</td></tr>
                       <tr><td>4</td><td>	+2	</td><td>	2d6	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>5</td><td>	+3	</td><td>	3d6	</td><td>	Esquiva Asombrosa	</td></tr>
                       <tr><td>6</td><td>	+3	</td><td>	3d6	</td><td>	Pericia	</td></tr>
                       <tr><td>7</td><td>	+3	</td><td>	4d6	</td><td>	Evasión	</td></tr>
                       <tr><td>8</td><td>	+3	</td><td>	4d6	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>9</td><td>	+4	</td><td>	5d6	</td><td>	Rasgo de Arquetipo de Pícaro	</td></tr>
                       <tr><td>10</td><td>	+4	</td><td>	5d6	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>11</td><td>	+4	</td><td>	6d6	</td><td>	Talentos Fiables	</td></tr>
                       <tr><td>12</td><td>	+4	</td><td>	6d6	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>13</td><td>	+5	</td><td>	7d6	</td><td>	Rasgo de Arquetipo de Pícaro	</td></tr>
                       <tr><td>14</td><td>	+5	</td><td>	7d6	</td><td>	Sentir sin Ver	</td></tr>
                       <tr><td>15</td><td>	+5	</td><td>	8d6	</td><td>	Mente Escurridiza	</td></tr>
                       <tr><td>16</td><td>	+5	</td><td>	8d6	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>17</td><td>	+6	</td><td>	9d6	</td><td>	Rasgo de Arquetipo de Pícaro	</td></tr>
                       <tr><td>18</td><td>	+6	</td><td>	9d6	</td><td>	Elusivo	</td></tr>
                       <tr><td>19</td><td>	+6	</td><td>	10d6	</td><td>	Mejora de Característica	</td></tr>
                       <tr><td>20</td><td>	+6	</td><td>	10d6	</td><td>	Golpe de Suerte	</td></tr>
                    
				</table>
			</div>
			<div class="tab-pane fade" id="pills-clases" role="tabpanel" aria-labelledby="pills-clases-tab">
                <p><span>	PERICIA	</span></p>
                <p>	En el nivel 1, elige dos de tus competencias con habilidades, o una de tus competencias con habilidades y tu competencia con herramientas de ladrón. Tu bonificador por competencia se multiplica por 2 en cualquier prueba de característica que hagas que utilice una de las dos competencias elegidas.	</p>
                <p>	En el nivel 6, puedes elegir dos competencias más (con habilidades o con herramientas de ladrón) para conseguir este beneficio.	</p>
                
                <p><span>	ATAQUE FURTIVO	</span></p>
                <p>	A partir del nivel 1, sabes aprovechar la distracción de un enemigo para atacarlo por la espalda. Una vez por turno, puedes infligir 1d6 puntos de daño adicional a una criatura a la que impactes con un ataque si tienes ventaja en la tirada de ataque. El ataque debe usar un arma sutil o a distancia. Este rasgo funciona aunque no tengas ventaja en la tirada de ataque si otro enemigo del objetivo que no esté incapacitado está a menos de 5 pies de él y si tú no tienes desventaja en la tirada de ataque.	</p>
                <p>	La cantidad de daño adicional aumenta conforme subes de nivel en esta clase, como se indica en la columna de «Ataque furtivo» de la tabla del pícaro.	</p>
                
                <p><span>	JERGA DE LADRONES	</span></p>
                <p>	Durante tu entrenamiento como pícaro, aprendes la jerga de ladrones, una mezcla de dialecto, jerga y código secretos que te permite enviar mensajes en una conversación aparentemente normal. Solo otra criatura que conozca la jerga de ladrones puede entender tales mensajes. Transmitir un mensaje de este tipo cuesta cuatro veces más que decir la misma idea directamente. Además, entiendes una serie de signos y símbolos que se usan para esconder mensajes cortos y sencillos, como si un área es peligrosa o es territorio de un gremio de ladrones, si hay un botín cerca o si las gentes que viven en la zona son presas fáciles u ofrecerán cobijo a un ladrón a la fuga.	</p>
                
                <p><span>	ACCIÓN ASTUTA	</span></p>
                <p>	A partir del nivel 2, tu agilidad mental te permite moverte y actuar rápidamente. Puedes realizar una acción adicional en cada uno de tus turnos de combate para esprintar, retirarte o esconderte.	</p>
                
                <p><span>	ESQUIVA ASOMBROSA	</span></p>
                <p>	A partir del nivel 5, cuando un atacante que puedas ver te impacta con un ataque, puedes usar tu reacción para reducir a la mitad el daño que te provoca.	</p>
                
                <p><span>	EVASIÓN	</span></p>
                <p>	A partir del nivel 7, puedes apartarte ágilmente de la trayectoria de algunos efectos de área, como el aliento de fuego de un dragón rojo o el conjuro Tormenta de hielo. Cuando estás sujeto a un efecto que te permita hacer una tirada de salvación de Destreza para recibir solo la mitad de daño, si tienes éxito en la tirada de salvación no recibes daño y, si fallas, solo recibes la mitad.	</p>
                
			</div>
			<div class="tab-pane fade" id="pills-nombres" role="tabpanel" aria-labelledby="pills-nombres-tab">
					<p> Los pícaros no poseen conjuros ya que no es una clase lanzadora de conjuros.</p>
			</div>
		  </div>
		</div>
	</main>
    <br>
    <div class="inicioboton">
        <a href="../index.html" class="inicio">VOLVER AL INICIO</a>
    </div>
        <br>
	<!--FOOTER-->
	<footer class="footer-container">
		<div class="social-container">
			<a href="https://www.facebook.com/PosadaDelCuartoRio/" class="fa fa-facebook"></a>
			<a href="https://twitter.com/posadadel4torio" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/posadadelcuartorio/" class="fa fa-instagram"></a>
		</div>
		<div class="copy-container">
			<h3>Copyright © Todos los derechos reservados</h3>
		</div>
	</footer>

<!-- BOOTSTRAP LIKNS DINÁMICOS -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>