//Import colores y cards
@import "colores";
@import "nosotros";

/*Apoyanos*/
.pagos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
      .card{
        display: flex;
        width: 18%;
        height: fit-content;
        background-color: $color-primario;
        padding: 0.5em;
        justify-content: center;
  
        @media (max-width: 700px) {
          flex-wrap: nowrap;
          display: block;
          width: 100%;
          justify-content: center;
          padding: 0.5em 0.5em;
          margin-bottom: 1em;
        }
  
         .btn{
            background-color: $color-terciario;
            color: $color-primario;
            border: 0;
            transition: 0.2s;
            border-radius: 0;
  
            &:hover{
                background-color: $color-secundario;
                color: $color-primario;
              }
          }
  
        }
  
        @media (max-width: 700px) {
            flex-wrap: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1em 1em;
          }
  
    }
