//Import colores y cards
@import "colores";

/*Apoyanos*/
.pagos {
  display: flex;
  display: 90%;
  flex-direction: row;
  justify-content: space-evenly;
  
      .card{
        display: flex;
        width: 20%;
        height: fit-content;
        background-color: $color-primario;
        padding: 0.5em;
        justify-items: center;
        border-radius: 0;

        p{
          font-family: 'Signika Negative', sans-serif;
        }
  
        @media (max-width: 700px) {
          flex-wrap: nowrap;
          display: block;
          width: 100%;
          justify-content: center;
          padding: 0.5em 0.5em;
          margin-bottom: 1em;
        }

        .boton-plataforma{
          margin-top: 1rem;

          .btn{
            background-color: $color-terciario;
            color: $color-primario;
            border: 0;
            transition: 0.2s;
            border-radius: 0;
            height: 100%;
            font-family: 'Signika Negative', sans-serif;
  
            &:hover{
                background-color: $color-secundario;
                color: $color-terciario;
              }
          }
        }
        
      }
  
    @media (max-width: 700px) {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 1em;
      }
}
