$color-primario: #491401;
$color-secundario: #b63c10;
$color-terciario: #cacaca;
$color-fondo: #594848;

//$color-primario: #732720;
//$color-secundario: #e6b67b;
//$color-terciario: #d8d8d8;
//$color-fondo: #977863;
