//Import colores
@import "colores";

/*Contactate*/
.cont-form{
    display: flex;
    justify-content: center;

    .formulario{
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: $color-primario;
        padding: 1.5em;
    
        .form-title{
            display: flex;
            color: $color-primario;
            background-color: $color-terciario;
            padding: 0.5em;
            width: fit-content;
            margin-bottom: 1em;
            font-size: 1.5em;
        }
              
        .datos-form{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            @media (max-width: 700px) {
                display: block;
                justify-content: center;
                padding: 0.5em 0.5em;
                }


            .row{
                width: 50%;

                @media (max-width: 700px) {
                    width: 100%;
                    justify-content: center;
                    }
            }

            .col-sm-2{
                width: 100%;

                @media (max-width: 700px) {
                    width: 100%;
                    }

            }

        }
    
        .btn{
            background-color: $color-terciario;
            color: $color-primario;
            border: 0;
            transition: 0.2s;
            border-radius: 0;
    
            &:hover{
                background-color: $color-secundario;
                color: $color-primario;
              }
    
          }

          @media (max-width: 700px) {
        display: block;
        width: 90%;
        justify-content: center;
        padding: 0.5em 0.5em;
        }

    } 
}