//Import colores
@import "colores";

//Extensiones
%redes-header {
    width: 100%;
    background-color: $color-primario;
    color: $color-terciario;
    transition: 0.2s;
}

.footer-container{
    display: flex;
    align-items: center;
    height: fit-content;
    flex-direction: column;

    .social-container{
        display: flex;
        background-color: $color-primario;
        width: 100%;
        height: 4rem;
        justify-content: center;
        align-items: center;

        .fa {
            font-size: 1em;
            padding: 1.5em;
            width: 5em;
            height: fit-content;
            text-align: center;
            text-decoration: none;
            align-items: center;
            justify-items: center;
            color: white;
            transition: 0.3s;
    
            &:hover{
              background-color: $color-secundario;
              color: $color-primario;
            }

            .fa-instagram {
                @extend %redes-header;
              }
              
              .fa-twitter {
                @extend %redes-header;
              }
              
              .fa-facebook {
                @extend %redes-header;
              }
        }
    }

    .copy-container{
        display: flex;
        width: 100%;
        height: 2rem;
        align-items: center;
        justify-content: center;
        background-color: #5e1b15;

        h3{
            font-family: 'Signika Negative', sans-serif;
            font-size: 0.8em;
            color: white;
            margin: 0;
        }
    }
}