//Import colores y cards
@import "colores";
@import "nosotros";

/*Razas*/
.portadas-contenedor{
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;

    .portadas-seccion{
        display: flex;
        width: 100%;
        transition: 0.3s;

        &:hover{
            filter: brightness(150%);
            transform: scale(1.02);
            box-shadow: 0 0 0.5em 0.5em rgba(0.2, 0.2, 0.2, 0.2);
        }
    }

    @media (max-width: 700px) {
        flex-flow: wrap;
  }
}

.razas{
    display: flex;
    justify-content:space-evenly;
    width: 100%;

    .navegacion{
        width: 60%;
        display: flex;
        flex-direction: column;

        @media (max-width: 700px) {
          width: 100%;
        }
    }
        
        .razas-foto{
          display: flex;
          height: fit-content;
          align-items: center;
          flex-direction: column;
          border-style: solid;
          border-color: $color-primario;
          border-width: 1rem;
          background-color:$color-primario;

            .nombre{
                font-size: 3em;
                color: $color-terciario;
            }

            @media (max-width: 700px) {
                margin-bottom: 1rem;
              }

        }

        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
            color: $color-primario;
            background-color: $color-terciario;
            font-weight: bolder;
          }
          
          .nav-pills .nav-link {
            border-radius: 0;
          }
          
          .nav-pills{
            background-color: $color-primario;
            height: fit-content;

            @media (max-width: 700px) {
                justify-content: center;
              }
          }
          
          .nav-link{
            color: $color-terciario;

            &:hover{
                color: $color-secundario;
            }
          }

          .tab-content{
            width: 100%;
          }
          
          .tab-pane{
            background-color: $color-terciario;
            padding: 0.5em;
          }
          
          span{
            font-weight: bolder;
          }
           
    @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    }      
}