//Import colores
@import "colores";

/*Streams*/
.video {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .reproductor{
        border-style: solid;
        border-color: $color-primario;
        border-width: 1rem;
        display: flex;
        flex-wrap: nowrap;

        @media (max-width: 700px) {
            width: 90%;;
      }
    }

    .video__info {
        display: flex;
        align-content: center;
        flex-direction: column;
        margin-top: 3rem;
        height: auto;
        width: 35rem;
        height: fit-content;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        @media (max-width: 700px) {
            width: 90%;
      }

        .videotitulo{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            font-weight: bolder;
            font-size: 2em;
            width: 100%;
            background-color: $color-primario;
            color: $color-terciario;
           }
           
           .videotexto {
             display: flex;
             margin-top: auto;
             flex-direction: column;
             font-size: 1em;
             align-items: center;
             justify-content: center;
             margin-left: auto;
             margin-right: auto;
             padding: 1rem;
             line-height: 1.3rem;
             background-color: $color-terciario;
             color: $color-primario;
             font-family: 'Signika Negative', sans-serif;
           }

           .btn{
            background-color: $color-terciario;
            color: $color-primario;
            border: 0;
            transition: 0.2s;
            border-radius: 0;

            &:hover{
                background-color: $color-secundario;
                color: $color-primario;
              }
          }
    }
}