//Import colores
@import "colores";

/*Tabla de Clases*/
.tftable {
    font-size:12px;
    color:#333333;
    width:100%;
    border-width: 1px;
    border-color: #a9a9a9;
    border-collapse: collapse;
}

.tftable th {
    font-size:12px;
    background-color:#979797;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9a9a9;
    text-align:left;
}

.tftable tr {
    background-color:#ffffff;
}

.tftable td {
    font-size:12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9a9a9;
}