body {
  background-color: #977863;
  font-family: "MedievalSharp", cursive;
}

/*Header*/
.nav {
  background-color: #732720;
  color: white;
  height: 4em;
}
.nav .nav__container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__container .nav__logo {
  align-items: center;
  margin-left: 1em;
}
.nav .nav__container .nav__input {
  display: none;
}
.nav .nav__container .nav__input:checked + .nav__menu {
  clip-path: inset(0 0 0 0);
}
.nav .nav__container .nav__label {
  display: none;
}
@media (max-width: 700px) {
  .nav .nav__container .nav__label {
    display: block;
    cursor: pointer;
  }
}
.nav .nav__container .nav__menu {
  display: flex;
  transition: clip-path 0.5s ease-in-out;
  height: fit-content;
  z-index: 1000;
}
.nav .nav__container .nav__menu .nav__item {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1em;
}
.nav .nav__container .nav__menu .nav__item:hover {
  background-color: #e6b67b;
  color: #732720;
}
@media (max-width: 700px) {
  .nav .nav__container .nav__menu {
    position: fixed;
    top: 4em;
    bottom: 0;
    background-color: #732720;
    color: #e6b67b;
    width: 100%;
    left: 0;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: inset(0 0 100% 0);
  }
}

.portada-container-secciones, .portada-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../../img/portada.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

/*Portada Principal*/
.portada-container {
  height: 40rem;
}
.portada-container .portada-logo {
  display: flex;
  width: 40%;
  filter: drop-shadow(3px 3px 6px black);
}
@media (max-width: 700px) {
  .portada-container .portada-logo {
    width: 60%;
  }
}
@media (max-width: 700px) {
  .portada-container {
    height: 15rem;
  }
}

.menu-container .second-row, .menu-container .first-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
@media (max-width: 700px) {
  .menu-container .second-row, .menu-container .first-row {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
}

.menu-container .second-row .streams, .menu-container .second-row .libros, .menu-container .first-row .razas, .menu-container .first-row .clases {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.2s ease;
  background-position: center;
  filter: contrast(85%);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
}
@media (max-width: 700px) {
  .menu-container .second-row .streams, .menu-container .second-row .libros, .menu-container .first-row .razas, .menu-container .first-row .clases {
    width: 100%;
    height: 50%;
    background-position: center;
    background-size: cover;
  }
}

.menu-container .second-row .streams h1, .menu-container .second-row .libros h1, .menu-container .first-row .razas h1, .menu-container .first-row .clases h1 {
  font-size: 4vw;
  color: white;
  text-shadow: 2px 2px 7px black, -2px -2px 7px black;
}
@media (max-width: 700px) {
  .menu-container .second-row .streams h1, .menu-container .second-row .libros h1, .menu-container .first-row .razas h1, .menu-container .first-row .clases h1 {
    font-size: 12vw;
  }
}

.menu-container .second-row .streams:hover, .menu-container .second-row .libros:hover, .menu-container .first-row .razas:hover, .menu-container .first-row .clases:hover {
  filter: brightness(130%) contrast(100%);
  transform: scale(1.01);
}

/*Menu Principal*/
.menu-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 60rem;
}
.menu-container .first-row .clases {
  background-image: url("../../img/clases.jpg");
}
.menu-container .first-row .razas {
  background-image: url("../../img/razas.jpg");
}
.menu-container .second-row .libros {
  background-image: url("../../img/libros.jpg");
}
.menu-container .second-row .streams {
  background-image: url("../../img/streams.jpg");
}
.footer-container .social-container .fa .fa-facebook, .footer-container .social-container .fa .fa-twitter, .footer-container .social-container .fa .fa-instagram {
  width: 100%;
  background-color: #732720;
  color: #d8d8d8;
  transition: 0.2s;
}

.footer-container {
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: column;
}
.footer-container .social-container {
  display: flex;
  background-color: #732720;
  width: 100%;
  height: 4rem;
  justify-content: center;
  align-items: center;
}
.footer-container .social-container .fa {
  font-size: 1em;
  padding: 1.5em;
  width: 5em;
  height: fit-content;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-items: center;
  color: white;
  transition: 0.3s;
}
.footer-container .social-container .fa:hover {
  background-color: #e6b67b;
  color: #732720;
}
.footer-container .copy-container {
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #5e1b15;
}
.footer-container .copy-container h3 {
  font-size: 0.8em;
  color: white;
  line-height: 0;
  margin: 0;
}

.portada-container-secciones, .portada-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../../img/portada.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

/*Portada Principal*/
.portada-container {
  height: 40rem;
}
.portada-container .portada-logo {
  display: flex;
  width: 40%;
  filter: drop-shadow(3px 3px 6px black);
}
@media (max-width: 700px) {
  .portada-container .portada-logo {
    width: 60%;
  }
}
@media (max-width: 700px) {
  .portada-container {
    height: 15rem;
  }
}

/*Portadas Secciones*/
.portada-container-secciones {
  height: 10rem;
}
.portada-container-secciones h1 {
  color: white;
  font-size: 6rem;
  text-shadow: 2px 2px 7px #222222, -2px -2px 7px #222222;
}
@media (max-width: 700px) {
  .portada-container-secciones h1 {
    font-size: 4rem;
  }
}

/*Nosotros*/
.cards-container {
  display: flex;
  display: 90%;
  flex-direction: row;
  justify-content: space-evenly;
}
.cards-container .card {
  display: flex;
  width: 25%;
  height: fit-content;
  background-color: #732720;
  padding: 0.5em;
  justify-content: center;
}
@media (max-width: 700px) {
  .cards-container .card {
    flex-wrap: nowrap;
    display: block;
    width: 100%;
    justify-content: center;
    padding: 0.5em 0.5em;
  }
}
.cards-container .card .card-title {
  font-size: 2vw;
}
@media (max-width: 700px) {
  .cards-container .card .card-title {
    padding: 0.2em 0.2em;
    font-size: 7vw;
  }
}
.cards-container .card .card-text {
  font-size: 0.5vw;
}
.cards-container .card ul {
  color: #d8d8d8;
}
@media (max-width: 700px) {
  .cards-container .card ul {
    padding: 0.2em 0.2em;
    font-size: 4vw;
  }
}
.cards-container .card .btn {
  background-color: #d8d8d8;
  color: #732720;
  border: 0;
  transition: 0.2s;
  border-radius: 0;
}
.cards-container .card .btn:hover {
  background-color: #e6b67b;
  color: #732720;
}
@media (max-width: 700px) {
  .cards-container .card {
    height: 100%;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 700px) {
  .cards-container {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 1em;
  }
}

/*Boton Volver*/
.inicioboton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inicioboton .inicio {
  text-decoration: none;
  background-color: #732720;
  color: #d8d8d8;
  font-size: 1em;
  font-weight: bolder;
  padding: 0.7em 0.7em;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.inicioboton .inicio:hover {
  color: #732720;
  background-color: #e6b67b;
}

/*Apoyanos*/
.pagos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pagos .card {
  display: flex;
  width: 18%;
  height: fit-content;
  background-color: #732720;
  padding: 0.5em;
  justify-content: center;
}
@media (max-width: 700px) {
  .pagos .card {
    flex-wrap: nowrap;
    display: block;
    width: 100%;
    justify-content: center;
    padding: 0.5em 0.5em;
    margin-bottom: 1em;
  }
}
.pagos .card .btn {
  background-color: #d8d8d8;
  color: #732720;
  border: 0;
  transition: 0.2s;
  border-radius: 0;
}
.pagos .card .btn:hover {
  background-color: #e6b67b;
  color: #732720;
}
@media (max-width: 700px) {
  .pagos {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 1em;
  }
}

/*Contactate*/
.cont-form {
  display: flex;
  justify-content: center;
}
.cont-form .formulario {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #732720;
  padding: 1.5em;
}
.cont-form .formulario .form-title {
  display: flex;
  color: #732720;
  background-color: #d8d8d8;
  padding: 0.5em;
  width: fit-content;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.cont-form .formulario .datos-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 700px) {
  .cont-form .formulario .datos-form {
    display: block;
    justify-content: center;
    padding: 0.5em 0.5em;
  }
}
.cont-form .formulario .datos-form .row {
  width: 50%;
}
@media (max-width: 700px) {
  .cont-form .formulario .datos-form .row {
    width: 100%;
    justify-content: center;
  }
}
.cont-form .formulario .datos-form .col-sm-2 {
  width: 100%;
}
@media (max-width: 700px) {
  .cont-form .formulario .datos-form .col-sm-2 {
    width: 100%;
  }
}
.cont-form .formulario .btn {
  background-color: #d8d8d8;
  color: #732720;
  border: 0;
  transition: 0.2s;
  border-radius: 0;
}
.cont-form .formulario .btn:hover {
  background-color: #e6b67b;
  color: #732720;
}
@media (max-width: 700px) {
  .cont-form .formulario {
    display: block;
    width: 90%;
    justify-content: center;
    padding: 0.5em 0.5em;
  }
}

/*Portadas de secciones*/
.portadas-contenedor {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.portadas-contenedor .portadas-seccion {
  display: flex;
  width: 100%;
  transition: 0.3s;
}
.portadas-contenedor .portadas-seccion:hover {
  filter: brightness(180%);
  transform: scale(1.02);
  box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}
.portadas-contenedor a {
  width: 100%;
}
@media (max-width: 700px) {
  .portadas-contenedor {
    flex-flow: wrap;
  }
}

/*Razas*/
.razas {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.razas .navegacion {
  width: 60%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  .razas .navegacion {
    width: 100%;
  }
}
.razas .razas-foto {
  display: flex;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: #732720;
  border-width: 1rem;
  background-color: #732720;
}
.razas .razas-foto .nombre {
  font-size: 3em;
  color: #d8d8d8;
}
@media (max-width: 700px) {
  .razas .razas-foto {
    margin-bottom: 1rem;
  }
}
.razas .nav-pills .nav-link.active, .razas .nav-pills .show > .nav-link {
  color: #732720;
  background-color: #d8d8d8;
  font-weight: bolder;
}
.razas .nav-pills .nav-link {
  border-radius: 0;
}
.razas .nav-pills {
  background-color: #732720;
  height: fit-content;
}
@media (max-width: 700px) {
  .razas .nav-pills {
    justify-content: center;
  }
}
.razas .nav-link {
  color: #d8d8d8;
}
.razas .nav-link:hover {
  color: #e6b67b;
}
.razas .tab-content {
  width: 100%;
}
.razas .tab-pane {
  background-color: #d8d8d8;
  padding: 0.5em;
}
.razas span {
  font-weight: bolder;
}
@media (max-width: 700px) {
  .razas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
}

.librospadre .libros__extras, .librospadre .libros__aventuras, .librospadre .libros__oficiales {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

/*Libros*/
.librospadre {
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
}
.librospadre .libros__titulos {
  display: flex;
  justify-content: center;
  width: 24rem;
  height: 6rem;
  background-color: #732720;
  font-size: 1.5em;
  color: #d8d8d8;
  text-align: center;
  font-weight: bolder;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0.2em;
}
.librospadre .libros__contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-decoration: none;
  width: 24rem;
  height: 3rem;
  background-color: #d8d8d8;
  font-size: 1.1em;
  color: #732720;
  text-align: center;
  transition: 0.1s;
}
.librospadre .libros__contenido:hover {
  background-color: #e6b67b;
  color: #732720;
  transform: scale(1.02);
  font-weight: bold;
  box-shadow: 0 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px) {
  .librospadre {
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
  }
}

/*Streams*/
.video {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.video .reproductor {
  border-style: solid;
  border-color: #732720;
  border-width: 1rem;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 700px) {
  .video .reproductor {
    width: 90%;
  }
}
.video .video__info {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 3rem;
  height: auto;
  width: 35rem;
  height: fit-content;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
@media (max-width: 700px) {
  .video .video__info {
    width: 90%;
  }
}
.video .video__info .videotitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  font-weight: bolder;
  font-size: 2em;
  width: 100%;
  background-color: #732720;
  color: #d8d8d8;
}
.video .video__info .videotexto {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  line-height: 1.3rem;
  background-color: #d8d8d8;
  color: #732720;
}
.video .video__info .btn {
  background-color: #d8d8d8;
  color: #732720;
  border: 0;
  transition: 0.2s;
  border-radius: 0;
}
.video .video__info .btn:hover {
  background-color: #e6b67b;
  color: #732720;
}

/*# sourceMappingURL=style.css.map */
